name: Resource list pagination test
description: list pagination test
cleanup:
{% for id in ids %}
- path: /network-ipam/pagination_network_ipam{{ id }}_uuid
{% endfor %}
- path: /project/pagination_project_uuid

test_data:
  pagination_project: &pagination_project
    uuid: pagination_project_uuid
    name: pagination_project
    parent_type: domain
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0002
    quota: {}

  {% for id in ids %}
  pagination_network_ipam{{ id }}: &pagination_network_ipam{{ id }}
    uuid: pagination_network_ipam{{ id }}_uuid
    name: pagination_network_ipam{{ id }}
    parent_type: project
    parent_uuid: pagination_project_uuid
    network_ipam_mgmt:
      host_routes:
        route:
          - prefix: "test_prefix{{ id }}"
            next_hop: "1.2.{{ id }}.5"
  {% endfor %}

clients:
  default:
    id: alice
    password: alice_password
    insecure: true
    scope:
      project:
        name: admin

workflow:
- name: create project
  request:
    path: /projects
    method: POST
    expected:
    - 200
    data:
      project: *pagination_project
  expect:
    project: *pagination_project

{% for id in ids %}
- name: create network ipam pagination_network_ipam{{ id }}
  request:
    path: /network-ipams
    method: POST
    expected:
    - 200
    data:
      network-ipam: *pagination_network_ipam{{ id }}
  expect:
    network-ipam: *pagination_network_ipam{{ id }}
{% endfor %}

{% for list in lists %}
- name: {{ list.name }}
  request:
    {% if list.marker == 0 %}
    path: /network-ipams?parent_id=pagination_project_uuid&page_limit={{ list.limit }}
    {% else %}
    path: /network-ipams?parent_id=pagination_project_uuid&page_limit={{ list.limit }}&page_marker=pagination_network_ipam{{ list.marker }}_uuid
    {% endif %}
    method: GET
    expected:
    - 200
  expect:
    network-ipams:
    {% for id in list.expectedIds %}
    - *pagination_network_ipam{{ id }}
    {% endfor %}
{% endfor %}
