name: Endpoint Test
description:  multi cluster/dynamic proxy endpoint test
cleanup:
    - path: /endpoint/endpoint_{{ cluster_name }}_{{ endpoint_name }}_uuid
    - path: /contrail-cluster/{{ cluster_name }}_uuid
    - path: /endpoint/endpoint_clusterB_{{ endpoint_name }}_uuid
test_data:
  global_system_config: &global_system_config
    fq_name: ["default", "global-system-config"]
    uuid: beefbeef-beef-beef-beef-beefbeef0001
    parent_type: domain
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0002
    quota: {}
  {{ cluster_name }}: &{{ cluster_name }}
    fq_name: ["default", "global-system-config", "{{ cluster_name }}"]
    uuid: {{ cluster_name }}_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
  endpoint_{{ cluster_name }}_{{ endpoint_name }}: &endpoint_{{ cluster_name }}_{{ endpoint_name }}
    uuid: endpoint_{{ cluster_name }}_{{ endpoint_name }}_uuid
    fq_name: ["default", "global-system-config", {{ cluster_name }}, "endpoint_{{ cluster_name }}_{{ endpoint_name }}"]
    parent_type: contrail-cluster
    parent_uuid: {{ cluster_name }}_uuid
    name: {{ endpoint_name }}
    {%if private_url %}private_url: {{private_url}}{%endif%}
    public_url: {{public_url}}
clients:
  default:
    id: alice
    password: alice_password
    domain: default
    insecure: true
    scope:
      project:
        name: admin
workflow:
- name: create contrail cluster
  request:
    path: /contrail-clusters
    method: POST
    expected:
    - 201
    data:
      contrail-cluster: *{{ cluster_name }}
  expect:
    contrail-cluster:
      uuid: {{ cluster_name }}_uuid
      fq_name: ["default", "global-system-config", "{{ cluster_name }}"]
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
      perms2:
        owner: admin
- name: create a {{ endpoint_name }} endpoint for {{ cluster_name }}
  request:
    path: /endpoints
    method: POST
    expected:
    - 201
    data:
      endpoint: *endpoint_{{ cluster_name }}_{{ endpoint_name }}
  expect:
    endpoint:
      uuid: endpoint_{{ cluster_name }}_{{ endpoint_name }}_uuid
      fq_name: ["default", "global-system-config", {{ cluster_name }}, "endpoint_{{ cluster_name }}_{{ endpoint_name }}"]
      parent_type: contrail-cluster
      parent_uuid: {{ cluster_name }}_uuid
      perms2:
        owner: admin
