name: Endpoint Test
description:  multi cluster/dynamic proxy endpoint test
cleanup:
    - path: /endpoint/endpoint_{{ endpoint_name }}_uuid
    {%if manage_parent %}
    - path: /endpoint/endpoint_{{ cluster_name }}_neutron2_uuid
    - path: /contrail-cluster/{{ cluster_name }}_uuid
    {%endif%}
test_data:
  {{ cluster_name }}: &{{ cluster_name }}
    name: {{ cluster_name }}
    fq_name: ["default-global-system-config", "{{ cluster_name }}"]
    uuid: {{ cluster_name }}_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
  endpoint_{{ endpoint_name }}: &endpoint_{{ endpoint_name }}
    uuid: endpoint_{{ endpoint_name }}_uuid
    fq_name: ["default-global-system-config", {{ cluster_name }}, {{ endpoint_name }}]
    parent_type: contrail-cluster
    name: {{ endpoint_name }}
    prefix: {{ endpoint_prefix }}
    {%if private_url %}private_url: {{private_url}}{%endif%}
    public_url: {{public_url}}
    {%if admin_user %}
    username: {{ admin_user }}
    password: {{ admin_user }}
    {%endif%}
clients:
  default:
    id: alice
    password: alice_password
    insecure: true
    scope:
      project:
        name: admin
workflow:
{%if manage_parent %}
- name: create contrail cluster
  request:
    path: /contrail-clusters
    method: POST
    expected:
    - 200
    data:
      contrail-cluster: *{{ cluster_name }}
  expect:
    contrail-cluster:
      uuid: {{ cluster_name }}_uuid
      fq_name: ["default-global-system-config", "{{ cluster_name }}"]
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
      perms2:
        owner: admin
{%endif%}
- name: create a {{ endpoint_name }} endpoint for {{ cluster_name }}
  request:
    path: /endpoints
    method: POST
    expected:
    - 200
    data:
      endpoint: *endpoint_{{ endpoint_name }}
  expect:
    endpoint:
      uuid: endpoint_{{ endpoint_name }}_uuid
      fq_name: ["default-global-system-config", {{ cluster_name }}, {{ endpoint_name }}]
      parent_type: contrail-cluster
      parent_uuid: {{ cluster_name }}_uuid
      perms2:
        owner: admin
