package services

//RegisterRESTAPI register REST API service for path.
func (service *OpenstackService) RegisterOpenstackAPI(r routeRegistry) {
    // TODO: implement generatetioning all endpoints from schema. eg. r.POST("endpoint", handle_function)
}
