package services

import (
	"fmt"

	"github.com/labstack/echo"
)

// TODO: This is only a example template. Implement it later.

{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}

// RESTNeutron{{ schema.JSONSchema.GoName }} handles a REST create request.
func (s *OpenstackService) RESTNeutron{{ schema.JSONSchema.GoName }}(c echo.Context) error {
    fmt.Println("I'm working!!! ~ {{schema.JSONSchema.GoName }}")
	return nil
}


{% endif %}{% endfor %}
