version: '3'

services:
  etcd:
    container_name: contrail_etcd
    image: patroni
    ports:
      - "2379:2379"
    command: --etcd

  haproxy:
    container_name: contrail_haproxy
    image: patroni
    ports:
      - "5432:5000"
      - "5001:5001"
    environment:
      PATRONI_ETCD_URL: http://$HOSTIP:2379
      PATRONI_SCOPE: testcluster
    command: --confd

  dbnode:
    image: patroni
    volumes:
      - ./patroni.yml:/patroni.yml
      - ../../tools:/tools
    environment:
      PATRONI_ETCD_URL: http://$HOSTIP:2379
      PATRONI_SCOPE: testcluster
      PATRONI_SUPERUSER_USERNAME: root
      PATRONI_SUPERUSER_PASSWORD: contrail123

networks:
  default:
    external:
      name: $NETWORKNAME
