# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
.AppleDouble
.LSOverride
.project

# Project specific paths
dist/
profile.cov
tmp/
test_output/
bin/

# ignore generated code

pkg/**/gen_*
pkg/**/generated.pb.go

pkg/serviceif/serviceif.go
doc/proto.md
doc/proto_model.md
doc/proto_service.md
public/
proto/
tools/init_mysql.sql
tools/init_psql.sql
tools/cleanup.sql
docker/contrail_go/etc/*
docker/contrail_go/contrail
docker/contrail_go/contrailcli
