# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
.AppleDouble
.LSOverride

.idea

# Project specific paths
*.log
base.pb.go
bin/
dist/
doc/proto.md
docker/contrail_go/etc/
docker/contrail_go/contrail
docker/contrail_go/contrailcli
gen_*
pkg/**/mock/*
profile.cov
profile.tmp
public/
test_output/
!vendor/**

# Files patched during the build
.patched
