{% if config.AuthURL %}
id: {{ config.ID }}
password: {{ config.Password }}
project_id: {{ config.ProjectID }}
auth_url: {{ config.AuthURL }}
{% endif %}
endpoint: {{ config.Endpoint }}
insecure: {{ config.InSecure }}
cluster_id: {{ resource.uuid }}
cluster_action: {{ action }}
log_level: debug
