{% if input.AuthURL %}
id: {{ input.ID }}
password: {{ input.Password }}
domain_id: {{ input.DomainID }}
domain_Name: {{ input.DomainName }}
project_id: {{ input.ProjectID }}
project_name: {{ input.ProjectName }}
auth_url: {{ input.AuthURL }}
{% endif %}
endpoint: {{ input.Endpoint }}
insecure: {{ input.InSecure }}
cluster_id: {{ resource.uuid }}
cluster_action: {{ action }}
provisioner_type: {{ resource.ProvisionerType }}
log_level: debug
log_file: /var/log/contrail/cluster.log
template_root: /usr/share/contrail/templates/

# Optional ansible params for dev/test
#ansible_sudo_pass: secret123
#ansible_fetch_url: https://review.opencontrail.org/Juniper/contrail-ansible-deployer refs/changes/80/40780/20
#ansible_cherry_pick_revision: FETCH_HEAD
#ansible_deployer_revision: GIT_COMMIT_HASH
