id: bob
password: bob_password
project_id: demo
auth_url: http://localhost:9091/v3
endpoint: http://localhost:9091
insecure: true
backend: file
watcher: polling
schema_root: /public
tasks:
- schema_id: contrail_cluster
  common:
  - vars:
      dir: "/home/ijohnson/cluster/{{ resource.schema_id }}/{{ resource.uuid }}"
  on_create:
  - debug: "AGENT creating {{ dir }}"
  - command: mkdir -p "{{ dir }}"
  - debug: "AGENT created {{ dir }}"
  - template:
      src: "./pkg/cluster/configs/contrail-cluster-config.tmpl"
      dest: "{{ dir }}/contrail-cluster-config.yml"
    #- command: "contrail cluster -c {{ dir }}/contrail-cluster-config.yml"
  - debug: "AGENT creating cluster(contrail cluster -c {{ dir }}/contrail-cluster-config.yml)"
  - command: "go run cmd/contrail/main.go cluster -c {{ dir }}/contrail-cluster-config.yml"
  - debug: "AGENT cluster create complete"
  on_update:
  - debug: "AGENT updating cluster(contrail cluster -c {{ dir }}/contrail-cluster-config.yml)"
      #- command: "contrail cluster -c {{ dir }}/contrail-cluster-config.yml"
  - command: "go run cmd/contrail/main.go cluster -c {{ dir }}/contrail-cluster-config.yml"
  - debug: "AGENT cluster update complete"
  on_delete:
  - debug: "AGENT deleting cluster(contrail cluster -c {{ dir }}/contrail-cluster-config.yml)"
      #- command: "contrail cluster -c {{ dir }}/contrail-cluster-config.yml"
  - command: "go run cmd/contrail/main.go cluster -c {{ dir }}/contrail-cluster-config.yml"
  - debug: "AGENT cluster delete complete"
  - debug: "AGENT deleting {{ dir }}"
  - command: "rm -rf  {{ dir }}"
  - debug: "AGENT deleted {{ dir }"
