{%if cluster.ContainerRegistryUsername and  cluster.ContainerRegistryPassword%}
authorized_registries:
  - registry: {{ cluster.ContainerRegistry }}
    username: {{ cluster.ContainerRegistryUsername }}
    password: {{ cluster.ContainerRegistryPassword }}
    {%if contrail_container_tag%}
    contrail_container_tag: {{ contrail_container_tag }}
    {%endif%}
{%endif%}
