contrail_user: {{ defaultContrailUser }}
contrail_password: {{ defaultContrailPassword }}
contrail_port: {{ defaultContrailConfigPort }}
contrail_tenant: {{ defaultContrailTenant }}
provider_config:
  bms:
    ssh_user: {%if defaultSSHUser %}{{defaultSSHUser}}{%else%}root{%endif%}
    ssh_pwd: {%if defaultSSHPassword %}{{defaultSSHPassword}}{%else%}c0ntrail123{%endif%}
    {%if defaultSSHKey %}ssh_public_key: {{ defaultSSHKey }}{%endif%}
    ntpserver: {{ cluster.NTPServer }}
    {% if cluster.DomainSuffix %}domainsuffix: {{ cluster.DomainSuffix }}{%endif%}

contrail_configuration:
  {% if cluster.ContrailVersion %}
  CONTRAIL_VERSION: {{ cluster.ContrailVersion }}
  {% else %}
  {% for key_value in cluster.ContrailConfiguration.KeyValuePair %}
  {% if "CONTRAIL_CONTAINER_TAG" in key_value.Key %}
  CONTRAIL_VERSION: {{ key_value.Value }}
  {% endif %}
  {% endfor %}
  {% endif %}
  ENCAP_PRIORITY: {%if cluster.EncapPriority %}{{cluster.EncapPriority}}{%else%}MPLSoGRE,MPLSoUDP,VXLAN{%endif%}
  CLOUD_ORCHESTRATOR: kubernetes
  {% for key_value in cluster.ContrailConfiguration.KeyValuePair %}
  {% if key_value.Key && key_value.Value%}
  {% if key_value.Key == "VROUTER_ENCRYPTION" %}
  {{key_value.Key}}: {{key_value.Value}}
  {%endif%}
  {%endif%}
  {%endfor%}
