PATH_CONFIG:  {{ pathConfig }}
PATH_SSL_CONFIG_LOCAL: "~/.multicloud/ssl"
PATH_SSL_CONFIG: "{% templatetag openvariable %} PATH_CONFIG {% templatetag closevariable %}/ssl"
PATH_OPENVPN_CONFIG: "{% templatetag openvariable %} PATH_CONFIG {% templatetag closevariable %}/openvpn"
PATH_BIRD_CONFIG: "{% templatetag openvariable %} PATH_CONFIG {% templatetag closevariable %}/bird"
PATH_STRONGSWAN_CONFIG: "{% templatetag openvariable %} PATH_CONFIG {% templatetag closevariable %}/strongswan"
PATH_VRRP_CONFIG: "{% templatetag openvariable %} PATH_CONFIG {% templatetag closevariable %}/vrrp"
PATH_AWS_CONFIG: "{% templatetag openvariable %} PATH_CONFIG {% templatetag closevariable %}/aws"
PATH_INTERFACE_CONFIG: "/etc/network/interfaces.d"
PATH_FW_CONFIG: "{% templatetag openvariable %} PATH_CONFIG {% templatetag closevariable %}/firewall"
PATH_GCP_CONFIG: "{% templatetag openvariable %} PATH_CONFIG {% templatetag closevariable %}/gcp"
PATH_SECRET_CONFIG: "{% templatetag openvariable %} PATH_CONFIG {% templatetag closevariable %}/secret"
PATH_VXLAN_CONFIG: "{% templatetag openvariable %} PATH_CONFIG {% templatetag closevariable %}/vxlan"

CONTAINER_REGISTRY: {{ cluster.ContainerRegistry }}
{% if cluster.ContrailVersion %}
CONTRAIL_MULTICLOUD_VERSION: {{ cluster.ContrailVersion }}
{% else %}
{% for key_value in cluster.ContrailConfiguration.KeyValuePair %}
{% if "CONTRAIL_CONTAINER_TAG" in key_value.Key %}
CONTRAIL_MULTICLOUD_VERSION: {{ key_value.Value }}
{% endif %}
{% endfor %}
{% endif %}

UPGRADE_KERNEL: False
KERNEL_VERSION: 3.10.0-862.11.6.el7.x86_64

AS: {{ cluster.MCGWInfo.AS }}
vpn_lo_network: {{ cluster.MCGWInfo.VPNLoNetwork }}
vpn_network: {{ cluster.MCGWInfo.VPNNetwork }}

openvpn_port: {{ cluster.MCGWInfo.OpenvpnPort }}

bfd_interval: {{ cluster.MCGWInfo.BFDInterval }}
bfd_multiplier: {{ cluster.MCGWInfo.BFDMultiplier }}
bfd_interval_multihop: {{ cluster.MCGWInfo.BFDIntervalMultihop }}
bfd_multiplier_multihop: {{ cluster.MCGWInfo.BFDMultiplierMultihop }}
core_bgp_secret: {{ bgpSecret }}

{%if "true" in  cluster.RegistryPrivateInsecure|lower %}
registry_private_insecure:
 - {{ cluster.ContainerRegistry }}
{%endif%}
