public_key:
  name: {{ secret.Keypair.Name }}
  value: {{ secret.Keypair.SSHPublicKey }}
{% if secret.AWSAccessKey %}aws_access_key: {{ secret.AWSAccessKey }}{% endif %}
{% if secret.AWSSecretKey %}aws_secret_key: {{ secret.AWSSecretKey }}{% endif %}
{% if "gcp" in secret.ProviderType %}google_credentials: /var/tmp/contrail/google-account.json{% endif %}
{% if secret.AzureSubscriptionID %}azure_subscription_id: {{ secret.AzureSubscriptionID }}{% endif %}
{% if secret.AzureClientID %}azure_client_id: {{ secret.AzureClientID }}{% endif %}
{% if secret.AzureClientSecret %}azure_client_secret: {{ secret.AzureClientSecret }}{% endif %}
{% if secret.AzureTenantID %}azure_tenant_id: {{ secret.AzureTenantID }}{% endif %}
{%if cluster.ContainerRegistry and cluster.ContainerRegistryUsername and cluster.ContainerRegistryPassword%}
authorized_registries:
  - registry: {{ cluster.ContainerRegistry }}
    username: {{ cluster.ContainerRegistryUsername }}
    password: {{ cluster.ContainerRegistryPassword }}
    {%if tag%}
	tag: "{{ tag }}"
    {%endif%}
{%endif%}
