public_key:
  name: {{ secret.Keypair.Name }}
  value: {{ secret.Keypair.SSHPublicKey }}
{% if secret.awsAccessKey %}aws_access_key: {{ secret.awsAccessKey }}{% endif %}
{% if secret.awsSecretKey %}aws_secret_key: {{ secret.awsSecretKey }}{% endif %}
{% if "gcp" in secret.providerType %}google_credentials: /var/tmp/contrail/google-account.json{% endif %}
