inventory_nodes:
- name: control-192_0_2_5
  capabilities: profile:control
  pm_addr: 192.0.2.5
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 630
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:09:46:f5"
- name: contrail-controller-192_0_2_5
  capabilities: profile:contrail-controller
  pm_addr: 192.0.2.5
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 642
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:3d:0c:42"
- name: contrail-analytics-database-192_0_2_5
  capabilities: profile:contrail-analytics-database
  pm_addr: 192.0.2.5
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 650
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:96:f7:50"
- name: contrail-analytics-192_0_2_5
  capabilities: profile:contrail-analytics
  pm_addr: 192.0.2.5
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 641
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:59:6e:60"
- name: appformix-controller-192_0_2_5
  capabilities: profile:appformix-controller
  pm_addr: 192.0.2.5
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 643
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:68:79:93"
- name: control-192_0_2_7
  capabilities: profile:control
  pm_addr: 192.0.2.7
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 630
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:03:a4:19"
- name: contrail-controller-192_0_2_7
  capabilities: profile:contrail-controller
  pm_addr: 192.0.2.7
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 642
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:87:ba:17"
- name: contrail-analytics-database-192_0_2_7
  capabilities: profile:contrail-analytics-database
  pm_addr: 192.0.2.7
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 650
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:c7:2d:b5"
- name: contrail-analytics-192_0_2_7
  capabilities: profile:contrail-analytics
  pm_addr: 192.0.2.7
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 641
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:b4:30:ac"
- name: appformix-controller-192_0_2_7
  capabilities: profile:appformix-controller
  pm_addr: 192.0.2.7
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 643
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:40:d2:79"
- name: control-192_0_2_6
  capabilities: profile:control
  pm_addr: 192.0.2.6
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 630
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:98:23:c7"
- name: contrail-controller-192_0_2_6
  capabilities: profile:contrail-controller
  pm_addr: 192.0.2.6
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 642
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:36:4a:4b"
- name: contrail-analytics-database-192_0_2_6
  capabilities: profile:contrail-analytics-database
  pm_addr: 192.0.2.6
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 650
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:a6:85:14"
- name: contrail-analytics-192_0_2_6
  capabilities: profile:contrail-analytics
  pm_addr: 192.0.2.6
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 641
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:3d:f9:80"
- name: appformix-controller-192_0_2_6
  capabilities: profile:appformix-controller
  pm_addr: 192.0.2.6
  pm_user: ipmi
  pm_password: ipmipassword
  pm_port: 643
  pm_type: pxe_ipmitool
  mac:
  - "52:54:00:68:4b:fa"
