# Copyright 2018 Juniper Networks, Inc. All rights reserved.
# Licensed under the Juniper Networks Script Software License (the "License").
# You may not use this script file except in compliance with the License, which is located at
# http://www.juniper.net/support/legal/scriptlicense/
# Unless required by applicable law or otherwise agreed to in writing by the parties,
# software distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#
#
#

# List of nodes to use as storage host role
# Each list item contains:
#    name: name of a node in the inventory
storage_nodes:
  - name: 5b10s41-node1-storage1
  - name: 5b10s41-node2-storage2
  - name: 5b10s41-node3-storage3
