package logic

import (
	"github.com/pkg/errors"
)

{% macro properties(JSONSchema) %}
{%- for property in JSONSchema.OrderedProperties %}
    {{ property.GoName }} {{ property.GoType }} `json:"{{ property.JSONTag }}" yaml:"{{ property.ID }}"`
{%- endfor %}
{% endmacro %}

{% macro jsonTags(JSONSchema, prefix) %}
const (
{%- for property in JSONSchema.OrderedProperties %}
	{{ prefix }}Field{{ property.GoName }} = "{{ property.JSONTag }}"
{%- endfor %}
)
{% endmacro %}

{%- for schema in schemas %}{% if schema.Type == "request" %}
type {{ schema.JSONSchema.GoName }} struct {
	baseResource
	{{- properties(schema.JSONSchema) -}}
}
{{- jsonTags(schema.JSONSchema, schema.JSONSchema.GoName) -}}
{% endif %}{% endfor %}

{%- for schema in schemas %}{% if schema.Type == "response" %}
type {{ schema.JSONSchema.GoName }}Response struct {
	{{- properties(schema.JSONSchema) -}}
}
{{- jsonTags(schema.JSONSchema, schema.JSONSchema.GoName|add:"Response") -}}
{% endif %}{% endfor %}

{%- for schema in schemas %}{% if schema.Type == "object" %}
type {{ schema.JSONSchema.GoName }} struct {
	{{- properties(schema.JSONSchema) -}}
}
{{- jsonTags(schema.JSONSchema, schema.JSONSchema.GoName) -}}
{% endif %}{% endfor %}

{% for type, definition in types %}{% if definition.Type == "object" %}
type {{ type }} struct {
	{{- properties(definition) -}}
}
{{- jsonTags(definition, type) -}}
{% endif %}{% endfor %}


// MakeResource returns zero value resource
func MakeResource(id string) (Resource, error) {
	switch id {
	{%- for schema in schemas %}{% if schema.Type == "request" %}
	case "{{ schema.ID }}":
		return &{{ schema.JSONSchema.GoName }}{}, nil
    {%- endif%}{% endfor %}
    default:
    	return nil, errors.Errorf("resource with id: %s does not exists", id)
	}
}

// MakeResponse returns zero value resource
func MakeResponse(id string) (Response, error) {
	switch id {
	{%- for schema in schemas %}{% if schema.Type == "response" %}
	case "{{ schema.ID }}":
		return &{{ schema.JSONSchema.GoName }}Response{}, nil
    {%- endif%}{% endfor %}
    default:
    	return nil, errors.Errorf("response with id: %s does not exists", id)
	}
}
