package services

{%- for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}

func (service *OpenstackService) handle{{ schema.GoName }}()

{%- endif%}{% endfor %}

//RegisterOpenstackAPI register neutron endpoints
func (service *OpenstackService) RegisterOpenstackAPI(r routeRegistry) {
	{%- for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}
		r.POST("{{ schema.Prefix }}{{ schema.ID }}", service.RESTNeutron{{ schema.JSONSchema.GoName }})
    {%- endif%}{% endfor %}
}
