{%if cluster.ContainerRegistryUsername and  cluster.ContainerRegistryPassword%}
authorized_registries:
  - registry: {{ cluster.ContainerRegistry }}
    username: {{ cluster.ContainerRegistryUsername }}
    password: {{ cluster.ContainerRegistryPassword }}
    {%if tag%}
    tag: {{ tag }}
    {%endif%}
{%endif%}
