id: {{ input.ID }}
endpoint: {{ input.Endpoint }}
insecure: {{ input.InSecure }}
cloud_id: {{ resource.uuid }}
cloud_action: {{ action }}
log_level: debug
log_file: /var/log/contrail/cloud.log
template_root: /usr/share/contrail/templates/
