{% for provider in cloud.providers %}
{% with provider.info.Type as cloudType "azure" as az "aws" as aws %}
- provider: {{ cloudType }}
  organization: {{ cloud.info.Organization }}
  project: {{ cloud.info.Project }}
  regions:
  {% for region in provider.regions %}
    - name: {{ region.info.Name }}
    {% if az in cloudType %}
      resource_group: {{ region.info.ResourceGroup }}
    {% endif %}
    {% for vcloud in region.virtualClouds %}
      {% if az in cloudType %}
      vnet:
      {% elif aws in cloudType %}
      vpc:
      {% endif %}
        - name: {{ vcloud.info.Name }}
          cidr_block: {{ vcloud.info.CidrBlock }}
          subnets:
          {% for subnet in vcloud.subnets %}
            - name: {{ subnet.info.Name }}
              cidr_block: {{ subnet.info.CidrBlock }}
              {% if aws in cloudType %}
              availability_zone: {{ subnet.info.AvailabilityZone }}
              {% endif %}
          {% endfor %}
          security_groups:
          {% for sg in vcloud.sgs %}
            {% if az in cloudType %}
            - name: {{ sg.info.Name }}
              rules:
              {% for sgRule in sg.info.CloudSecurityGroupRules %}
                - name: {{ sgRule.Name }}
                  direction: {% if "ingress" in sgRule.Direction %}inbound{% elif "egress" in sgRule.Direction %}outbound{% endif %}
                  {% if sgRule.Protocol %}protocol: {{ sgRule.Protocol }}{% endif %}
              {% endfor %}
            {% elif aws in cloudType %}
              {% for sgRule in sg.info.CloudSecurityGroupRules %}
              - name: {{ sgRule.Name }}
                {{ sgRule.Direction }}:
                  from_port: {{ sgRule.FromPort }}
                  to_port: {{ sgRule.ToPort }}
                  protocol: {{ sgRule.Protocol }}
                  cidr_blocks:
                  - {{ sgRule.CidrBlock }}
              {% endfor %}
            {% endif %}
          {% endfor %}
          instances:
          {% for instance in vcloud.instances %}
            - name: {{ instance.info.Hostname }}
              roles:
              {% for role in instance.info.CloudInfo.Roles %}
                {% if "compute" in role %}
                - compute_node
                {% else %}
                - {{ role }}
                {% endif %}
              {% endfor %}
              provision: true
              {% for cred in cloud.credentials %}{% for cred_ref in instance.info.CredentialRefs %}{%if cred_ref.UUID in cred.UUID %}
              username: {{ cred.SSHUser }}
              {% endif %}{% endfor %}{% endfor %}
              {% if az in cloudType %}
              os: {{ instance.info.CloudInfo.OperatingSystem }}
              {% endif %}
              instance_type: {{ instance.info.CloudInfo.InstanceType }}
              {% if aws in cloudType %}
              machine_id: {{ instance.info.CloudInfo.MachineID }}
              {% endif %}
              {% for subnet in cloud.subnets %}{% for subnet_ref in instance.info.CloudPrivateSubnetRefs %}{% if subnet_ref.UUID in subnet.info.UUID %}
              subnets: {{ subnet.info.Name }}
              {% if aws in cloudType %}
              availability_zone: {{ subnet.info.AvailabilityZone }}
              {% endif %}
              {% endif %}{% endfor %}{% endfor %}
              {% if instance.protocolsMode %}
              protocols_mode:
              {% for mode in instance.protocolsMode %}
                - {{ mode }}
              {% endfor %}
              {% endif %}
              {% if aws in cloudType %}
              {% if instance.info.CloudSecurityGroupRefs %}
              security_groups:
              {% for sg in cloud.securityGroups %}{% for sg_ref in instance.info.CloudSecurityGroupRefs %}{% if sg_ref.UUID in sg.info.UUID %}
                {% for sgRule in sg.info.CloudSecurityGroupRules %}
                - {{ sgRule.Name }}
                {% endfor %}
              {% endif %}{% endfor %}{% endfor %}
              {% endif %}{% endif %}
              interface: {{ instance.info.InterfaceName }}
          {% endfor %}
    {% endfor %}
  {% endfor %}
{% endwith %}
{% endfor %}
