public_key:
  name: {{ secret.keypair.Name }}
  value: {{ secret.keypair.SSHPublicKey }}
aws_access_key:{% if secret.awsAccessKey %} {{ secret.awsAccessKey }}{% endif %}
aws_secret_key:{% if secret.awsSecretKey %} {{ secret.awsSecretKey }}{% endif %}
google_credentials:{% if "gcp" in secret.providerType %} {{ gcpCredentialFile }}{% endif %}
azure_subscription_id:{% if secret.azureSubscriptionId %} {{ secret.azureSubscriptionId }}{% endif %}
azure_client_id:{% if secret.azureClientId %} {{ secret.azureClientId }}{% endif %}
azure_client_secret:{% if secret.azureClientSecret %} {{ secret.azureClientSecret }}{% endif %}
azure_tenant_id:{% if secret.azureTenantId %} {{ secret.azureTenantId }}{% endif %}
