public_key:
  name: {{ secret.Keypair.Name }}
  value: {{ secret.Keypair.SSHPublicKey }}
{% if secret.AWSAccessKey %}aws_access_key: {{ secret.AWSAccessKey }}{% endif %}
{% if secret.AWSSecretKey %}aws_secret_key: {{ secret.AWSSecretKey }}{% endif %}
{% if "gcp" in secret.providerType %}google_credentials: /var/tmp/contrail/google-account.json{% endif %}
