public_key:
  name: {{ secret.keypair.Name }}
  value: {{ secret.keypair.SSHPublicKey }}
aws_access_key:{% if secret.awsAccessKey %} {{ secret.awsAccessKey }}{% endif %}
aws_secret_key:{% if secret.awsSecretKey %} {{ secret.awsSecretKey }}{% endif %}
{# {% if "gcp" in secret.providerType %}google_credentials: /var/tmp/contrail/google-account.json{% endif %} #}
