# Default values for contrail-go.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value

replicaCount: 1
image: opencontrailnightly/contrail-go
tls:
    enabled: true
    key: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEowIBAAKCAQEAvdXC9gZX8O3J1N3brMh+D7izXyxh550Awxf40LHlkmW0fAwy
        ZWk72CD8hBQGKcTCngWsnpv4Cu04lTeuXIAMvmRG3DliMXwL7EF+nPaKedJqLEfy
        pWLiqRPkyrMNSDdycoyxAJ7aS9d3ziwyMU5aq9tibcJQZumI+q8pYILIBnMrz496
        VyfUidF4Bwvtk7OwWr01XeNA9vAkAP/OYQzh6toK6Jg6OU3LLHA9Vo3eo63U0SVf
        GWlZlsl1KfUwTi1i6gaSbS38QXA0HoTm21SRIk55qkfjfdWmpE4mnkEhUmEGsTnk
        pWd5v7Qhw83WbC7+uCfE5HriGthDIR2sFkjyuQIDAQABAoIBAB9ldjwoamz/du0M
        0GMwOaEyBACOn5al4dViZpVlhrmCtqn5fnBFSk+BjSHvCeHol+N4vsbwtsJf34bW
        UbEcwH7QqOONXg8fG/20C1O8dsSVJ1gxghEWXLRoBOP9Xwn9maEWYcPfge0fMsJX
        jumWsupPe2T5yUBsCWqkg6xhlOFz62la821CtiGzOjw1vt1cKxjSS/T+VEmxCrAd
        REnpHVcAEACa/yvMAmnDBzgHgL9GLXR4iQrlb325bArQG2xyklfD3PzO+G5hckPZ
        dUWUzfR9oX7KP4urbAOxeyTAgw1m3x/x6WRA0Z8v+MQUFv6HFjXj+RkyIZCgIDZ5
        apV6xO0CgYEA+Q4de55U811i8mEnICttzeCif5oxsdgB8L0G+hHraxIVIR2xbapG
        +xbhFLqqJUPmuC34eifFEbMze4qWWXGcggzzhLDZdkdeDV+z7h31Ww16XxmQ7b1t
        ar9g8GrT5rjwafFnA3wz+tTvFM+64v5hPLnJFhvFRAdXta1iVPeDLlcCgYEAwyDn
        AXr2vydANTeMieE43DHYp5AarZCA7rif2WgP7vehA2ERRS7NCYeUGGfFMNdiGjB8
        DRXEQEGo+EVPVwybHC9hNnw1CMp7kZaNrg6wNbJNYnkyYcKy7EAO8VL3JDYOLpLg
        heU++i5yMsPrY2mxNZUrShI0XAt6rOXLO/AYHW8CgYA+FJakycLDJvQTFsR58Fle
        iC/5PqZEfmN9bqDelLjp54f8yToA7ADldb6FPEJNJ6/LGSpmyKMG1nRuxwzTHs60
        XCYXXT3XjdKT4tcm87DFEYb/TZAisqUjhrDTPM21JURIJDRZWgxa6djuhxk+m8oB
        KQ5GxIVXf70NPDrWkxvP4QKBgDEyvov1APm5X8sLMnghPUDnoIS/JLrWUGvgSQ17
        22iZLxO3Ca+z2Sap9IEiyOlDpQyNZPm3nz/ETmIqt5JvLzywBYbDUmvhAb73gsl8
        Epm3VyOZA0b63DoM/LeD/6Q1rOW5Srr3ziUuSMTb+SGbqH6mGcAXTvRWQJwPZGq8
        YpgpAoGBAITM2xubIGVE5U7HxPzF+om5z47nBRRFdNdOvlYWMeT7Mjd0QD8PKfhK
        R4uhKOulceHFLpWYWiTHgkh1AC15M3i8NUS27bcL++SfG0xsjqxpiojZugHZj7vF
        QsJEjLfD1WfdL9qe1opmraYtgS9RF8WNb9cT6QfwvXpTOMpy1c5D
        -----END RSA PRIVATE KEY-----
    cert: |
        -----BEGIN CERTIFICATE-----
        MIIDtTCCAp2gAwIBAgIJAPqWvsA//EFoMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
        BAYTAkFVMRMwEQYDVQQIEwpTb21lLVN0YXRlMSEwHwYDVQQKExhJbnRlcm5ldCBX
        aWRnaXRzIFB0eSBMdGQwHhcNMTgwMTI2MjMyNDE1WhcNMjgwMTI0MjMyNDE1WjBF
        MQswCQYDVQQGEwJBVTETMBEGA1UECBMKU29tZS1TdGF0ZTEhMB8GA1UEChMYSW50
        ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
        CgKCAQEAvdXC9gZX8O3J1N3brMh+D7izXyxh550Awxf40LHlkmW0fAwyZWk72CD8
        hBQGKcTCngWsnpv4Cu04lTeuXIAMvmRG3DliMXwL7EF+nPaKedJqLEfypWLiqRPk
        yrMNSDdycoyxAJ7aS9d3ziwyMU5aq9tibcJQZumI+q8pYILIBnMrz496VyfUidF4
        Bwvtk7OwWr01XeNA9vAkAP/OYQzh6toK6Jg6OU3LLHA9Vo3eo63U0SVfGWlZlsl1
        KfUwTi1i6gaSbS38QXA0HoTm21SRIk55qkfjfdWmpE4mnkEhUmEGsTnkpWd5v7Qh
        w83WbC7+uCfE5HriGthDIR2sFkjyuQIDAQABo4GnMIGkMB0GA1UdDgQWBBSKyJGI
        VKjITdPjX17Hl8FQf2oeSTB1BgNVHSMEbjBsgBSKyJGIVKjITdPjX17Hl8FQf2oe
        SaFJpEcwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgTClNvbWUtU3RhdGUxITAfBgNV
        BAoTGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZIIJAPqWvsA//EFoMAwGA1UdEwQF
        MAMBAf8wDQYJKoZIhvcNAQELBQADggEBAGoNdWpCQH8IBjjawK/od2HUf0VjMzhy
        RiCMdp77zCMgNxtvISdKoYFq66PB2KT19t08n9NeMDym2cfZSASTcYzUJrqlE+F5
        uQke3buWiVblXJyPDKjD25XzYGnTcrtrNsQXUMUer6nbH0NKe1mSJzV1RaLAFmpT
        oh5gN9gLtA0/HqPp5wO9JGxfviw68dizlDdDp/9NRYXoU/ngN2SaMuwSw9bGAOVC
        iWmfeMFgqlZvQVMRMxuVJRNQMX3Zf+U6kvflwDztmh9Pw7rQ1e3I2RdYUgbY8+Le
        iXnlsJGVT5DRZkTAv1ysQlA8Mc0UIAemOB56ksja7/fmHGZL4ROeqRc=
        -----END CERTIFICATE-----
config:
    database:
        # host: localhost
        # user: root
        # password: contrail123
        # name: contrail_test
        max_open_conn: 100
        connection_retries: 10
        retry_period: 3s
        debug: false
    etcd:
        endpoints:
         - localhost:2379
        username: ""
        password: ""
        path: json
    log_level: debug
    server:
        enabled: true
        read_timeout: 10
        write_timeout: 5
        log_api: true
        log_body: true
        address: ":9091"
        tls:
            enabled: false
            key_file: tools/server.key
            cert_file: tools/server.crt
        enable_grpc: false
        static_files:
            public: /usr/share/contrail/public
        proxy:
            /contrail:
            - http://localhost:8082
        notify_etcd: true
    #keystone:
    #    local: true # Enable local keystone v3. This is only for testing now.
    #    assignment:
    #        type: static
    #        file: sample/keystone.yml
    #    store:
    #        type: memory
    #        expire: 3600
    #    authurl: http://localhost:9091/v3
    auth_type: no-auth
    no_auth: false
    insecure: true
    sync:
        enabled: false
        storage: json
    client:
        id: alice
        password: alice_password
        project_id: admin
        schema_root: /public
        endpoint: http://localhost:9091
    agent:
        enabled: true
        backend: file
        watcher: polling
        tasks:
        - schema_id: virtual_network
          common:
          - vars:
              dir: "./work/virtual_networks/"
          on_create:
          - command: mkdir -p "{{ dir }}"
          - save:
              dest: "{{ dir }}/{{ resource.uuid }}.yaml"
              format: yaml
              # - command: pwd
              #   args:
              #     chdir: "{{ dir }}"
              # - command: date
              # - template:
              #     src: "./agent/cluster.tmpl"
              #     dest: "{{ dir }}/cluster.txt"
          - command: echo created
              #  register: date
          on_update:
          - command: "echo updated"
          on_delete:
          - command: "echo deleted"
          - command: "rm -rf {{ dir }}/virtual_networks/{{ resource.uuid }}.yaml"
    compilation:
        enabled: true
        plugin_directory: 'etc/plugins/'
        number_of_workers: 4
        max_job_queue_len: 5
        msg_queue_lock_time: 30
        msg_index_string: 'MsgIndex'
        read_lock_string: "MsgReadLock"
        master_election: true
        plugin:
            handlers:
                create_handler: 'HandleCreate'
                update_handler: 'HandleUpdate'
                delete_handler: 'HandleDelete'

postgresql:
    enabled: true
    imageTag: latest
    postgresHost: localhost
    postgresUser: contrail
    postgresPassword: contrail123
    postgresDatabase: contrail

external_config:
    enabled: false
    rdbms: ""
    etcd: ""

ingress:
  ## Set to true to enable ingress record generation
  enabled: false

  ## The list of hostnames to be covered with this ingress record.
  ## Most likely this will be just one host, but in the event more hosts are needed, this is an array
  hosts:
  - name: contrail.local

    ## Ingress annotations done as key:value pairs
    annotations:
    #  kubernetes.io/ingress.class: nginx
    #  kubernetes.io/tls-acme: true

etcd:
  enabled: true
  # true for deploy etcd for testing purpose
  deploy: true

# Provistion keystone for test
keystone:
  enabled: false
  password: contrail123
  # TODO: use kolla keystone
  image: stephenhsu/keystone:9.1.0
