name: All in one public cloud
description: all-in-one azure create test
cleanup:
- path: /node/cloud_node_gw_uuid
- path: /node/cloud_node_controller_uuid
- path: /node/cloud_node_compute_uuid
- path: /cloud-private-subnet/cloud_private_subnet_uuid
- path: /cloud-security-group/cloud_security_group_uuid
- path: /virtual-cloud/virtual_cloud_uuid
- path: /cloud-region/cloud_region_uuid
- path: /cloud-provider/cloud_provider_uuid
- path: /cloud/cloud_uuid
- path: /cloud-user/cloud_user_uuid
- path: /credential/cloud_credential_uuid
- path: /keypair/cloud_keypair_uuid
- path: /tag/public_cloud_tag_uuid
test_data:
  cloud_keypair: &cloud_keypair
    name: cloud_keypair
    uuid: cloud_keypair_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
    ssh_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0O/hslq9Jyp1aRmtLbC4+PuJicFDW+3BY2ZLqtg6M1n9QQ0ACDaR8NlYqDRB2ywuTpdEbqMNt2bGjPvB2BJ/OEz/cLuP9V+DxJwjipdG7fTghZR+1lgVf9OBzzkgxi5hbFmnhMzsPIrEOUWR/93or9IJej/9/3zaYYDy7ltIl6ArjA0ZsJ1xJbczbmiWqih1kMWE9yNHN7d5DCSVppCvIfezi4hlcfjJOxfU7nDlFaUQ4+5ZSEbvmAryrWPE5fMeF3WY+ns6XlKxuheie1MUFLNnWjc0L2hw7HHjMok7lXjs/4+O0LkQa+/ozOjfg1s/Q4wbUtOkTqOG9Ayr0rLLV"
    ssh_key_path: /tmp/
  cloud_credential: &cloud_credential
    name: cloud_credential
    uuid: cloud_credential_uuid
    ssh_user: centos
    keypair_refs:
      - uuid: cloud_keypair_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
  cloud_user: &cloud_user
    name: cloud_user
    uuid: cloud_user_uuid
    {% if "azure" in CLOUD_TYPE %}
    azure_credential:
      username: user
      password: password
    {% elif "aws" in CLOUD_TYPE %}
    aws_credential:
      access_key: XXXXXX
      secret_key: YYYYYYYYYYY
    {% endif %}
    credential_refs:
      - uuid: cloud_credential_uuid
  cloud: &cloud
    provisioning_state: NOSTATE
    name: cloud
    uuid: cloud_uuid
    organization: unit_test
    project: test2
    cloud_user_refs:
      - uuid: cloud_user_uuid
  cloud_provider: &cloud_provider
    name: cloud_provider
    uuid: cloud_provider_uuid
    type: {{ CLOUD_TYPE }}
    parent_type: cloud
    parent_uuid: cloud_uuid
  cloud_region: &cloud_region
    {% if "azure" in CLOUD_TYPE %}
    name: WestUS
    {% elif "aws" in CLOUD_TYPE %}
    name: us-west-1
    {% endif %}
    parent_type: cloud-provider
    parent_uuid: cloud_provider_uuid
    uuid: cloud_region_uuid
    {% if "azure" in CLOUD_TYPE %}
    resource_group: unit_test
    {% endif %}
  vc_tag: &vc_tag
    name: public_cloud_tag
    uuid: public_cloud_tag_uuid
    fq_name:
      - public_cloud_tag
    tag_type_name: namespace
    tag_value: vc1
  virtual_cloud: &virtual_cloud
    name: virtual_cloud
    uuid: virtual_cloud_uuid
    parent_type: cloud-region
    parent_uuid: cloud_region_uuid
    cidr_block: 192.168.10.0/16
    tag_refs:
      - uuid: public_cloud_tag_uuid
  cloud_private_subnet: &cloud_private_subnet
    name: cloud_private_subnet
    uuid: cloud_private_subnet_uuid
    cidr_block: 192.168.10.0/24
    {% if "aws" in CLOUD_TYPE %}
    availability_zone: a
    {% endif %}
    parent_type: virtual-cloud
    parent_uuid: virtual_cloud_uuid
  cloud_security_group: &cloud_security_group
    name: cloud_security_group
    uuid: cloud_security_group_uuid
    parent_type: virtual-cloud
    parent_uuid: virtual_cloud_uuid
    cloud_private_subnet_refs:
      - uuid: cloud_private_subnet_uuid
  cloud_security_group_rule: &cloud_security_group_rule
    name: cloud_security_group_rule
    uuid: cloud_security_group_rule_uuid
    parent_type: cloud-security-group
    parent_uuid: cloud_security_group_uuid
    direction: ingress
    protocol: tcp
    {% if "aws" in CLOUD_TYPE %}
    from_port: 0
    to_port: 0
    cidr_block: 0.0.0.0/0
    {% endif %}
  cloud_node_gw: &cloud_node_gw
    name: cloud_node_gw
    uuid: cloud_node_gw_uuid
    hostname: cloud_node_gw
    interface_name: cloud_node_gw_interface
    cloud_info:
      {% if "azure" in CLOUD_TYPE %}
      operating_system: centos7
      instance_type: F16sv2
      {% elif "aws" in CLOUD_TYPE %}
      machine_id: ami-XXXXXXX
      instance_type: t2.xlarge
      {% endif %}
      roles:
        - gateway
    credential_refs:
      - uuid: cloud_credential_uuid
    cloud_private_subnet_refs:
      - uuid: cloud_private_subnet_uuid
    {% if "aws" in CLOUD_TYPE %}
    cloud_security_group_refs:
      - uuid: cloud_security_group_uuid
    {% endif %}
    tag_refs:
      - uuid: public_cloud_tag_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
  cloud_node_controller: &cloud_node_controller
    name: cloud_node_controller
    uuid: cloud_node_controller_uuid
    hostname: cloud_node_controller
    interface_name: cloud_node_controller_interface
    cloud_info:
      {% if "azure" in CLOUD_TYPE %}
      operating_system: centos7
      instance_type: F16sv2
      {% elif "aws" in CLOUD_TYPE %}
      machine_id: ami-XXXXXXX
      instance_type: t2.xlarge
      {% endif %}
      roles:
        - controller
    credential_refs:
      - uuid: cloud_credential_uuid
    cloud_private_subnet_refs:
      - uuid: cloud_private_subnet_uuid
    {% if "aws" in CLOUD_TYPE %}
    cloud_security_group_refs:
      - uuid: cloud_security_group_uuid
    {% endif %}
    tag_refs:
      - uuid: public_cloud_tag_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
  cloud_node_compute: &cloud_node_compute
    name: cloud_node_compute
    uuid: cloud_node_compute_uuid
    hostname: cloud_node_compute
    interface_name: cloud_node_compute_interface
    cloud_info:
      {% if "azure" in CLOUD_TYPE %}
      operating_system: centos7
      instance_type: F16sv2
      {% elif "aws" in CLOUD_TYPE %}
      machine_id: ami-XXXXXXX
      instance_type: t2.xlarge
      {% endif %}
      roles:
        - compute
    credential_refs:
      - uuid: cloud_credential_uuid
    cloud_private_subnet_refs:
      - uuid: cloud_private_subnet_uuid
    {% if "aws" in CLOUD_TYPE %}
    cloud_security_group_refs:
      - uuid: cloud_security_group_uuid
    {% endif %}
    tag_refs:
      - uuid: public_cloud_tag_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001

clients:
  default:
    id: alice
    password: alice_password
    domain: default
    insecure: true
    scope:
      project:
        name: admin

workflow:
- name: create keypair
  request:
    path: /keypairs
    method: POST
    expected:
    - 200
    - 201
    data:
      keypair: *cloud_keypair
  expect:
    keypair:
      perms2:
        owner: admin
      uuid: cloud_keypair_uuid
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
      ssh_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0O/hslq9Jyp1aRmtLbC4+PuJicFDW+3BY2ZLqtg6M1n9QQ0ACDaR8NlYqDRB2ywuTpdEbqMNt2bGjPvB2BJ/OEz/cLuP9V+DxJwjipdG7fTghZR+1lgVf9OBzzkgxi5hbFmnhMzsPIrEOUWR/93or9IJej/9/3zaYYDy7ltIl6ArjA0ZsJ1xJbczbmiWqih1kMWE9yNHN7d5DCSVppCvIfezi4hlcfjJOxfU7nDlFaUQ4+5ZSEbvmAryrWPE5fMeF3WY+ns6XlKxuheie1MUFLNnWjc0L2hw7HHjMok7lXjs/4+O0LkQa+/ozOjfg1s/Q4wbUtOkTqOG9Ayr0rLLV"
      ssh_key_path: /tmp/

- name: create cloud credential
  request:
    path: /credentials
    method: POST
    expected:
    - 200
    - 201
    data:
      credential: *cloud_credential
  expect:
    credential:
      perms2:
        owner: admin
      uuid: cloud_credential_uuid
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
      keypair_refs:
        - uuid: cloud_keypair_uuid
      ssh_user: centos

- name: create cloud user
  request:
    path: /cloud-users
    method: POST
    expected:
    - 200
    - 201
    data:
      cloud-user: *cloud_user
  expect:
    cloud-user:
      perms2:
        owner: admin
      uuid: cloud_user_uuid
      {% if "azure" in CLOUD_TYPE %}
      azure_credential:
        username: user
        password: password
      {% elif "aws" in CLOUD_TYPE %}
      aws_credential:
        access_key: XXXXXX
        secret_key: YYYYYYYYYYY
      {% endif %}
      credential_refs:
        - uuid: cloud_credential_uuid

- name: create cloud
  request:
    path: /clouds
    method: POST
    expected:
    - 200
    - 201
    data:
      cloud: *cloud
  expect:
    cloud:
      perms2:
        owner: admin
      provisioning_state: NOSTATE
      uuid: cloud_uuid
      organization: unit_test
      project: test2
      cloud_user_refs:
        - uuid: cloud_user_uuid

- name: create cloud provider
  request:
    path: /cloud-providers
    method: POST
    expected:
    - 200
    - 201
    data:
      cloud-provider: *cloud_provider
  expect:
    cloud-provider:
      perms2:
        owner: admin
      uuid: cloud_provider_uuid
      type: {{ CLOUD_TYPE }}
      parent_type: cloud
      parent_uuid: cloud_uuid

- name: create cloud region
  request:
    path: /cloud-regions
    method: POST
    expected:
    - 200
    - 201
    data:
      cloud-region: *cloud_region
  expect:
    cloud-region:
      perms2:
        owner: admin
      {% if "azure" in CLOUD_TYPE %}
      name: WestUS
      {% elif "aws" in CLOUD_TYPE %}
      name: us-west-1
      {% endif %}
      uuid: cloud_region_uuid
      parent_type: cloud-provider
      parent_uuid: cloud_provider_uuid
      {% if CLOUD_TYPE == "azure" %}
      resource_group: unit_test
      {% endif %}

- name: create virtual cloud tag
  request:
    path: /tags
    method: POST
    expected:
    - 200
    - 201
    data:
      tag: *vc_tag
  expect:
    tag: *vc_tag

- name: create virtual cloud
  request:
    path: /virtual-clouds
    method: POST
    expected:
    - 200
    - 201
    data:
      virtual-cloud: *virtual_cloud
  expect:
    virtual-cloud:
      perms2:
        owner: admin
      uuid: virtual_cloud_uuid
      parent_type: cloud-region
      parent_uuid: cloud_region_uuid
      cidr_block: 192.168.10.0/16
      tag_refs:
        - uuid: public_cloud_tag_uuid

- name: create cloud private subnet
  request:
    path: /cloud-private-subnets
    method: POST
    expected:
    - 200
    - 201
    data:
      cloud-private-subnet: *cloud_private_subnet
  expect:
    cloud-private-subnet:
      perms2:
        owner: admin
      name: cloud_private_subnet
      uuid: cloud_private_subnet_uuid
      cidr_block: 192.168.10.0/24
      {% if CLOUD_TYPE == "aws" %}
      availability_zone: a
      {% endif %}
      parent_type: virtual-cloud
      parent_uuid: virtual_cloud_uuid

- name: create cloud security group
  request:
    path: /cloud-security-groups
    method: POST
    expected:
    - 200
    - 201
    data:
      cloud-security-group: *cloud_security_group
  expect:
    cloud-security-group:
      perms2:
        owner: admin
      name: cloud_security_group
      uuid: cloud_security_group_uuid
      parent_type: virtual-cloud
      parent_uuid: virtual_cloud_uuid
      cloud_private_subnet_refs:
        - uuid: cloud_private_subnet_uuid

- name: create cloud security group rule
  request:
    path: /cloud-security-group-rules
    method: POST
    expected:
    - 200
    - 201
    data:
      cloud-security-group-rule: *cloud_security_group_rule
  expect:
    cloud-security-group-rule:
      perms2:
        owner: admin
      name: cloud_security_group_rule
      uuid: cloud_security_group_rule_uuid
      parent_type: cloud-security-group
      parent_uuid: cloud_security_group_uuid
      direction: ingress
      protocol: tcp
      {% if "aws" in CLOUD_TYPE %}
      from_port: 0
      to_port: 0
      cidr_block: 0.0.0.0/0
      {% endif %}

- name: create cloud node gw
  request:
    path: /nodes
    method: POST
    expected:
    - 200
    - 201
    data:
      node: *cloud_node_gw
  expect:
    node:
      name: cloud_node_gw
      uuid: cloud_node_gw_uuid
      hostname: cloud_node_gw
      interface_name: cloud_node_gw_interface
      cloud_info:
        {% if "azure" in CLOUD_TYPE %}
        operating_system: centos7
        instance_type: F16sv2
        {% elif "aws" in CLOUD_TYPE %}
        machine_id: ami-XXXXXXX
        instance_type: t2.xlarge
        {% endif %}
        roles:
          - gateway
      credential_refs:
        - uuid: cloud_credential_uuid
      cloud_private_subnet_refs:
        - uuid: cloud_private_subnet_uuid
      {% if "aws" in CLOUD_TYPE %}
      cloud_security_group_refs:
        - uuid: cloud_security_group_uuid
      {% endif %}
      tag_refs:
        - uuid: public_cloud_tag_uuid
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001

- name: create cloud node controller
  request:
    path: /nodes
    method: POST
    expected:
    - 200
    - 201
    data:
      node: *cloud_node_controller
  expect:
    node:
      name: cloud_node_controller
      uuid: cloud_node_controller_uuid
      hostname: cloud_node_controller
      interface_name: cloud_node_controller_interface
      cloud_info:
        {% if "azure" in CLOUD_TYPE %}
        operating_system: centos7
        instance_type: F16sv2
        {% elif "aws" in CLOUD_TYPE %}
        machine_id: ami-XXXXXXX
        instance_type: t2.xlarge
        {% endif %}
        roles:
          - controller
      credential_refs:
        - uuid: cloud_credential_uuid
      cloud_private_subnet_refs:
        - uuid: cloud_private_subnet_uuid
      {% if "aws" in CLOUD_TYPE %}
      cloud_security_group_refs:
        - uuid: cloud_security_group_uuid
      {% endif %}
      tag_refs:
        - uuid: public_cloud_tag_uuid
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001

- name: create cloud node compute
  request:
    path: /nodes
    method: POST
    expected:
    - 200
    - 201
    data:
      node: *cloud_node_compute
  expect:
    node:
      name: cloud_node_compute
      uuid: cloud_node_compute_uuid
      hostname: cloud_node_compute
      interface_name: cloud_node_compute_interface
      cloud_info:
        {% if "azure" in CLOUD_TYPE %}
        operating_system: centos7
        instance_type: F16sv2
        {% elif "aws" in CLOUD_TYPE %}
        machine_id: ami-XXXXXXX
        instance_type: t2.xlarge
        {% endif %}
        roles:
          - compute
      credential_refs:
        - uuid: cloud_credential_uuid
      cloud_private_subnet_refs:
        - uuid: cloud_private_subnet_uuid
      {% if "aws" in CLOUD_TYPE %}
      cloud_security_group_refs:
        - uuid: cloud_security_group_uuid
      {% endif %}
      tag_refs:
        - uuid: public_cloud_tag_uuid
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
