// nolint
package etcd

import (
    "context"
    "errors"

    "github.com/Juniper/contrail/pkg/common"
    "github.com/Juniper/contrail/pkg/services"

    log "github.com/sirupsen/logrus"
)

{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}
func (service *NotifierService) Create{{ schema.JSONSchema.GoName }}(ctx context.Context, request *services.Create{{ schema.JSONSchema.GoName }}Request) (*services.Create{{ schema.JSONSchema.GoName }}Response, error) {
    obj{{ schema.JSONSchema.GoName }}, err := service.BaseService.Create{{ schema.JSONSchema.GoName }}(ctx, request)
    if err != nil {
        err := errors.New("Cannot Get {{ schema.JSONSchema.GoName }}")
        log.WithFields(log.Fields{
            "err": err,
            "resource": "{{ schema.ID }}",
        }).Debug("Create {{ schema.JSONSchema.GoName }}: Cannot Get {{ schema.JSONSchema.GoName }}")
        return nil, common.ErrorInternal
    }

    objUUID := obj{{ schema.JSONSchema.GoName }}.Get{{ schema.JSONSchema.GoName }}().UUID
    objKey, jsonStr := service.EtcdNotifierMarshal("{{ schema.ID }}", objUUID,
        obj{{ schema.JSONSchema.GoName }}.Get{{ schema.JSONSchema.GoName }}())
    if objKey == "" {
        return nil, common.ErrorInternal
    }

    err = service.Client.Put(ctx, objKey, jsonStr)
    if err != nil {
        log.WithFields(log.Fields{
            "err": err,
            "resource": "{{ schema.ID }}",
        }).Debug("Create {{ schema.JSONSchema.GoName }}[%s]: Failed to Write to ETCD", objUUID)
        return nil, common.ErrorInternal
    }

    log.WithFields(log.Fields{
        "resource": "{{ schema.ID }}",
    }).Debug("Create {{ schema.JSONSchema.GoName }}[%s]: Write to ETCD successful", objUUID)

    return obj{{ schema.JSONSchema.GoName }}, err
}

func (service *NotifierService) Update{{ schema.JSONSchema.GoName }}(ctx context.Context, request *services.Update{{ schema.JSONSchema.GoName }}Request) (*services.Update{{ schema.JSONSchema.GoName }}Response, error) {
    obj{{ schema.JSONSchema.GoName }}, err := service.BaseService.Update{{ schema.JSONSchema.GoName }}(ctx, request)
    if err != nil {
        err := errors.New("Cannot Get {{ schema.JSONSchema.GoName }}")
        log.WithFields(log.Fields{
            "err": err,
            "resource": "{{ schema.ID }}",
        }).Debug("Update {{ schema.JSONSchema.GoName }}: Cannot Get {{ schema.JSONSchema.GoName }}")
        return nil, common.ErrorInternal
    }

    objUUID := obj{{ schema.JSONSchema.GoName }}.Get{{ schema.JSONSchema.GoName }}().UUID
    objKey, jsonStr := service.EtcdNotifierMarshal("{{ schema.ID }}", objUUID,
        obj{{ schema.JSONSchema.GoName }}.Get{{ schema.JSONSchema.GoName }}())
    if objKey == "" {
        return nil, common.ErrorInternal
    }

    err = service.Client.Put(ctx, objKey, jsonStr)
    if err != nil {
        log.WithFields(log.Fields{
            "err": err,
            "resource": "{{ schema.ID }}",
        }).Debug("Update {{ schema.JSONSchema.GoName }}[%s]: Failed to Write to ETCD", objUUID)
        return nil, common.ErrorInternal
    }

    log.WithFields(log.Fields{
        "resource": "{{ schema.ID }}",
    }).Debug("Update {{ schema.JSONSchema.GoName }}[%s]: Write to ETCD successful", objUUID)

    return obj{{ schema.JSONSchema.GoName }}, err
}

func (service *NotifierService) Delete{{ schema.JSONSchema.GoName }}(ctx context.Context, request *services.Delete{{ schema.JSONSchema.GoName }}Request) (*services.Delete{{ schema.JSONSchema.GoName }}Response, error) {
    obj{{ schema.JSONSchema.GoName }}, err := service.BaseService.Delete{{ schema.JSONSchema.GoName }}(ctx, request)
    if err != nil {
        log.WithFields(log.Fields{
            "resource": "{{ schema.ID }}",
        }).Debug("Delete {{ schema.JSONSchema.GoName }}: Cannot Get {{ schema.JSONSchema.GoName }} UUID")
        return nil, nil
    }

    objUUID := obj{{ schema.JSONSchema.GoName }}.GetID()
    objKey, _ := service.EtcdNotifierMarshal("{{ schema.ID }}", objUUID,
        obj{{ schema.JSONSchema.GoName }}.GetID())
    if objKey == "" {
        return nil, common.ErrorInternal
    }

    err = service.Client.Delete(ctx, objKey)
    if err != nil {
        log.WithFields(log.Fields{
            "err": err,
            "resource": "{{ schema.ID }}",
        }).Debug("Delete {{ schema.JSONSchema.GoName }}[%s]: Failed to Write to ETCD", objUUID)
        return nil, common.ErrorInternal
    }

    log.WithFields(log.Fields{
        "resource": "{{ schema.ID }}",
    }).Debug("Delete {{ schema.JSONSchema.GoName }}[%s]: Write to ETCD successful", objUUID)

    return obj{{ schema.JSONSchema.GoName }}, err
}

func (service *NotifierService) Get{{ schema.JSONSchema.GoName }}(ctx context.Context, request *services.Get{{ schema.JSONSchema.GoName }}Request) (*services.Get{{ schema.JSONSchema.GoName }}Response, error) {
    return service.BaseService.Get{{ schema.JSONSchema.GoName }}(ctx, request)
}

func (service *NotifierService) List{{ schema.JSONSchema.GoName }}(ctx context.Context, request *services.List{{ schema.JSONSchema.GoName }}Request) (*services.List{{ schema.JSONSchema.GoName }}Response, error) {
    return service.BaseService.List{{ schema.JSONSchema.GoName }}(ctx, request)
}
{% endif%}{% endfor %}
