syntax = "proto3";
package github.com.Juniper.contrail.pkg.models;

import "github.com/gogo/protobuf/gogoproto/gogo.proto";
import "google/protobuf/field_mask.proto";

option (gogoproto.gostring_all) = false;
option (gogoproto.equal_all) = false;
option (gogoproto.verbose_equal_all) = false;
option (gogoproto.goproto_stringer_all) = false;
option (gogoproto.stringer_all) =  true;
option (gogoproto.populate_all) = false;
option (gogoproto.benchgen_all) = false;
option (gogoproto.marshaler_all) = false;
option (gogoproto.sizer_all) = true;
option (gogoproto.unmarshaler_all) = false;
option (gogoproto.protosizer_all) = false;

option go_package = "models";

message ListSpec {
    repeated Filter filters = 1 [(gogoproto.customname) = "Filters"]; // QueryFilter
	int64 limit = 2 [(gogoproto.customname) = "Limit"]; // Number of items expected to be returned
	int64 offset = 3 [(gogoproto.customname) = "Offset"]; // Starting offset of items
    bool detail = 4 [(gogoproto.customname) = "Detail"]; // Include detail informatoin or not
    bool count = 5 [(gogoproto.customname) = "Count"]; // TBD
    bool shared = 6 [(gogoproto.customname) = "Shared"]; // Include shared resources or not
    bool exclude_hrefs = 7 [(gogoproto.customname) = "ExcludeHrefs"]; // Exclude href parameters
    repeated string parent_fq_name = 8 [(gogoproto.customname) = "ParentFQName"]; // Filter by parent FQ Name
    string parent_type = 9  [(gogoproto.customname) = "ParentType"]; // Filter by parent type
    repeated string parent_uuids = 10 [(gogoproto.customname) = "ParentUUIDs"]; // Filter by parent UUIDs
    repeated string backref_uuids = 11 [(gogoproto.customname) = "BackRefUUIDs"]; // Filter by backref UUIDss
    repeated string object_uuids = 12 [(gogoproto.customname) = "ObjectUUIDs"]; // Filter by UUIDs
    repeated string fields = 13 [(gogoproto.customname) = "Fields"]; // limit displayed fields
}

message Filter {
    string key = 1 [(gogoproto.customname) = "Key"]; // Filter key
    repeated string values = 2 [(gogoproto.customname) = "Values"]; // Filter values
}

{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}

message {{ schema.JSONSchema.GoName }} {
{% for property in schema.JSONSchema.OrderedProperties %}
    {{ property.ProtoType }} {{ property.ID }} = {{ property.Index }} [(gogoproto.customname) = "{{ property.GoName }}", (gogoproto.moretags) = "yaml:\"{{ property.ID }}\""]; // {{ property.Description }}{% endfor %}
{% for linkTo, reference in schema.References %}
    repeated {{ schema.JSONSchema.GoName }}{{ reference.GoName }}Ref {{ linkTo }}_refs = {{ reference.Index }} [(gogoproto.customname) = "{{ reference.GoName }}Refs", (gogoproto.moretags) = "yaml:\"{{ linkTo }}_refs\""];// {{ reference.Description }} {% endfor %}
{% for _, backref in schema.BackReferences %}
    {% set linkTo = backref.LinkTo %}
    repeated {{ linkTo.JSONSchema.GoName }} {{ linkTo.ID }}_backrefs = {{ backref.Index }} [(gogoproto.customname) = "{{ linkTo.JSONSchema.GoName }}BackRefs", (gogoproto.moretags) = "yaml:\"{{ linkTo.ID }}_backrefs\""]; // {{ backref.Description }} {% endfor %}
{% for backref in schema.Children %}
    {% set child = backref.LinkTo %}
    repeated {{ child.JSONSchema.GoName }} {{ child.Plural }} = {{ backref.Index }} [(gogoproto.customname) = "{{ child.JSONSchema.GoName }}s", (gogoproto.moretags) = "yaml:\"{{ child.Plural }}\""]; // {{ backref.Description }} {% endfor %}
}

{% for linkTo, reference in schema.References %}
message {{ schema.JSONSchema.GoName }}{{ reference.GoName }}Ref {
    string uuid = 1 [(gogoproto.customname) = "UUID"];
    repeated string to = 2 [(gogoproto.customname) = "To"];
    {% if reference.RefType %}
    {{ reference.RefType }} attr = 3 [(gogoproto.customname) = "Attr"];
    {% endif %}
}
{% endfor %}

message Create{{ schema.JSONSchema.GoName }}Request {
    {{ schema.JSONSchema.GoName }} {{ schema.ID }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}",(gogoproto.jsontag) = "{{ schema.Path }}"];
}

message Create{{ schema.JSONSchema.GoName }}Response {
    {{ schema.JSONSchema.GoName }} {{ schema.ID }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}" ,(gogoproto.jsontag) = "{{ schema.Path }}"];
}

message Update{{ schema.JSONSchema.GoName }}Request {
    {{ schema.JSONSchema.GoName }} {{ schema.ID }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}",(gogoproto.jsontag) = "{{ schema.Path }}"];
    google.protobuf.FieldMask field_mask = 2 [(gogoproto.nullable) = false];
}

message Update{{ schema.JSONSchema.GoName }}Response {
    {{ schema.JSONSchema.GoName }} {{ schema.ID }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}",(gogoproto.jsontag) = "{{ schema.Path }}"];
}

message Delete{{ schema.JSONSchema.GoName }}Request {
    string id = 1 [(gogoproto.customname) = "ID"];
}

message Delete{{ schema.JSONSchema.GoName }}Response {
    string id = 1 [(gogoproto.customname) = "ID"];
}

message List{{ schema.JSONSchema.GoName }}Request {
    ListSpec spec = 1 [(gogoproto.customname) = "Spec"];
}

message List{{ schema.JSONSchema.GoName }}Response {
    repeated {{ schema.JSONSchema.GoName }} {{ schema.Plural }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}s", (gogoproto.jsontag) = "{{ schema.PluralPath }}"];
}

message Get{{ schema.JSONSchema.GoName }}Request {
    string id = 1 [(gogoproto.customname) = "ID"];
}

message Get{{ schema.JSONSchema.GoName }}Response {
    {{ schema.JSONSchema.GoName }} {{ schema.ID }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}", (gogoproto.jsontag) = "{{ schema.Path }}"];
}

{% endif %}{% endfor %}

{% for type, definition in types %}
{% if definition.Type == "object" %}
message {{ type }} {
{% for property in definition.OrderedProperties %}
    {{ property.ProtoType }} {{ property.ID }} = {{ property.Index }} [(gogoproto.customname) = "{{ property.GoName }}", (gogoproto.moretags) = "yaml:\"{{ property.ID }}\""]; // {{ property.Description }}{% endfor %}
}
{% endif %}
{% endfor %}