syntax = "proto3";
package github.com.Juniper.contrail.pkg.services;

import "github.com/gogo/protobuf/gogoproto/gogo.proto";
import "github.com/Juniper/contrail/pkg/models/generated.proto";
import "google/protobuf/field_mask.proto";


option (gogoproto.goproto_enum_prefix_all) = false;
option (gogoproto.gostring_all) = false;
option (gogoproto.equal_all) = false;
option (gogoproto.verbose_equal_all) = false;
option (gogoproto.goproto_stringer_all) = false;
option (gogoproto.stringer_all) =  true;
option (gogoproto.populate_all) = false;
option (gogoproto.benchgen_all) = false;
option (gogoproto.marshaler_all) = false;
option (gogoproto.sizer_all) = true;
option (gogoproto.unmarshaler_all) = false;
option (gogoproto.protosizer_all) = false;

option go_package = "services";

service ContrailService {
{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}
rpc Get{{ schema.JSONSchema.GoName }} (Get{{ schema.JSONSchema.GoName }}Request) returns (Get{{ schema.JSONSchema.GoName }}Response);
rpc List{{ schema.JSONSchema.GoName }} (List{{ schema.JSONSchema.GoName }}Request) returns (List{{ schema.JSONSchema.GoName }}Response);
rpc Create{{ schema.JSONSchema.GoName }} (Create{{ schema.JSONSchema.GoName }}Request) returns (Create{{ schema.JSONSchema.GoName }}Response);
rpc Update{{ schema.JSONSchema.GoName }} (Update{{ schema.JSONSchema.GoName }}Request) returns (Update{{ schema.JSONSchema.GoName }}Response);
rpc Delete{{ schema.JSONSchema.GoName }} (Delete{{ schema.JSONSchema.GoName }}Request) returns (Delete{{ schema.JSONSchema.GoName }}Response);
{% endif %}{% endfor %}
}

message ListSpec {
    repeated Filter filters = 1 [(gogoproto.customname) = "Filters"]; // QueryFilter
	int64 limit = 2 [(gogoproto.customname) = "Limit"]; // Number of items expected to be returned
	int64 offset = 3 [(gogoproto.customname) = "Offset"]; // Starting offset of items
    bool detail = 4 [(gogoproto.customname) = "Detail"]; // Include detail informatoin or not
    bool count = 5 [(gogoproto.customname) = "Count"]; // TBD
    bool shared = 6 [(gogoproto.customname) = "Shared"]; // Include shared resources or not
    bool exclude_hrefs = 7 [(gogoproto.customname) = "ExcludeHrefs"]; // Exclude href parameters
    repeated string parent_fq_name = 8 [(gogoproto.customname) = "ParentFQName"]; // Filter by parent FQ Name
    string parent_type = 9  [(gogoproto.customname) = "ParentType"]; // Filter by parent type
    repeated string parent_uuids = 10 [(gogoproto.customname) = "ParentUUIDs"]; // Filter by parent UUIDs
    repeated string backref_uuids = 11 [(gogoproto.customname) = "BackRefUUIDs"]; // Filter by backref UUIDss
    repeated string object_uuids = 12 [(gogoproto.customname) = "ObjectUUIDs"]; // Filter by UUIDs
    repeated string fields = 13 [(gogoproto.customname) = "Fields"]; // limit displayed fields
}

message Filter {
    string key = 1 [(gogoproto.customname) = "Key"]; // Filter key
    repeated string values = 2 [(gogoproto.customname) = "Values"]; // Filter values
}

{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}

message Create{{ schema.JSONSchema.GoName }}Request {
    github.com.Juniper.contrail.pkg.models.{{ schema.JSONSchema.GoName }} {{ schema.ID }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}",(gogoproto.jsontag) = "{{ schema.Path }}"];
}

message Create{{ schema.JSONSchema.GoName }}Response {
    github.com.Juniper.contrail.pkg.models.{{ schema.JSONSchema.GoName }} {{ schema.ID }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}" ,(gogoproto.jsontag) = "{{ schema.Path }}"];
}

message Update{{ schema.JSONSchema.GoName }}Request {
    github.com.Juniper.contrail.pkg.models.{{ schema.JSONSchema.GoName }} {{ schema.ID }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}",(gogoproto.jsontag) = "{{ schema.Path }}"];
    google.protobuf.FieldMask field_mask = 2 [(gogoproto.nullable) = false];
}

message Update{{ schema.JSONSchema.GoName }}Response {
    github.com.Juniper.contrail.pkg.models.{{ schema.JSONSchema.GoName }} {{ schema.ID }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}",(gogoproto.jsontag) = "{{ schema.Path }}"];
}

message Delete{{ schema.JSONSchema.GoName }}Request {
    string id = 1 [(gogoproto.customname) = "ID"];
}

message Delete{{ schema.JSONSchema.GoName }}Response {
    string id = 1 [(gogoproto.customname) = "ID"];
}

message List{{ schema.JSONSchema.GoName }}Request {
    ListSpec spec = 1 [(gogoproto.customname) = "Spec"];
}

message List{{ schema.JSONSchema.GoName }}Response {
    repeated github.com.Juniper.contrail.pkg.models.{{ schema.JSONSchema.GoName }} {{ schema.Plural }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}s", (gogoproto.jsontag) = "{{ schema.PluralPath }}"];
}

message Get{{ schema.JSONSchema.GoName }}Request {
    string id = 1 [(gogoproto.customname) = "ID"];
}

message Get{{ schema.JSONSchema.GoName }}Response {
    github.com.Juniper.contrail.pkg.models.{{ schema.JSONSchema.GoName }} {{ schema.ID }} = 1 [(gogoproto.customname) = "{{ schema.JSONSchema.GoName }}", (gogoproto.jsontag) = "{{ schema.Path }}"];
}

{% endif %}{% endfor %}

message Event {
    oneof request {
{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}
       Create{{ schema.JSONSchema.GoName }}Request create_{{ schema.ID }} = {{schema.Index }} [(gogoproto.customname) = "Create{{ schema.JSONSchema.GoName }}Request"];
       Update{{ schema.JSONSchema.GoName }}Request update_{{ schema.ID }} = {{schema.Index + 1}} [(gogoproto.customname) = "Update{{ schema.JSONSchema.GoName }}Request"];
       Delete{{ schema.JSONSchema.GoName }}Request delete_{{ schema.ID }} = {{schema.Index + 2}} [(gogoproto.customname) = "Delete{{ schema.JSONSchema.GoName }}Request"];
{% endif %}{% endfor %}
    }
}