package serviceif

import (
    "context"
    "github.com/Juniper/contrail/pkg/models"
)

type Service interface {
    Next() Service
    SetNext(Service)
 {% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}
    Get{{ schema.JSONSchema.GoName }}(context.Context, *models.ObjectID) (*models.Resource{{ schema.JSONSchema.GoName }}, error)
    List{{ schema.JSONSchema.GoName }}(context.Context, *models.ListSpec) (*models.ListResources{{ schema.JSONSchema.GoName }}, error)
    Create{{ schema.JSONSchema.GoName }}(context.Context, *models.Resource{{ schema.JSONSchema.GoName }}) (*models.Resource{{ schema.JSONSchema.GoName }}, error)
    Update{{ schema.JSONSchema.GoName }}(context.Context, *models.ResourceUpdate{{ schema.JSONSchema.GoName }}) (*models.Resource{{ schema.JSONSchema.GoName }}, error)
    Delete{{ schema.JSONSchema.GoName }}(context.Context, *models.ObjectID) (*models.ObjectID, error)
{% endif%}{% endfor %}
}

//Chain setup chain of services.
func Chain(services []Service) {
    if len(services) < 2 {
        return
    }
    previous := services[0]
    for i := 1; i < len(services); i++ {
        current := services[i]
        previous.SetNext(current)
        previous = current
    }
}

type BaseService struct{
    next Service
}

func (service *BaseService) Next() Service {
    return service.next
}

func (service *BaseService) SetNext(next Service) {
    service.next = next
}

{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}
func (service *BaseService) Create{{ schema.JSONSchema.GoName }}(ctx context.Context, request *models.Resource{{ schema.JSONSchema.GoName }}) (*models.Resource{{ schema.JSONSchema.GoName }}, error) {
    if service.next == nil {
        return nil, nil
    }
    return service.Next().Create{{ schema.JSONSchema.GoName }}(ctx, request)
}
func (service *BaseService) Update{{ schema.JSONSchema.GoName }}(ctx context.Context, request *models.ResourceUpdate{{ schema.JSONSchema.GoName }}) (*models.Resource{{ schema.JSONSchema.GoName }}, error) {
    if service.next == nil {
        return nil, nil
    }
    return service.Next().Update{{ schema.JSONSchema.GoName }}(ctx, request)
}
func (service *BaseService) Delete{{ schema.JSONSchema.GoName }}(ctx context.Context, request *models.ObjectID) (*models.ObjectID, error) {
    if service.next == nil {
        return nil, nil
    }
    return service.Next().Delete{{ schema.JSONSchema.GoName }}(ctx, request)
}
func (service *BaseService) Get{{ schema.JSONSchema.GoName }}(ctx context.Context, request *models.ObjectID) (*models.Resource{{ schema.JSONSchema.GoName }}, error) {
    if service.next == nil {
        return nil, nil
    }
    return service.Next().Get{{ schema.JSONSchema.GoName }}(ctx, request)
}
func (service *BaseService) List{{ schema.JSONSchema.GoName }}(ctx context.Context, request *models.ListSpec) (*models.ListResources{{ schema.JSONSchema.GoName }}, error) {
    if service.next == nil {
        return nil, nil
    }
    return service.Next().List{{ schema.JSONSchema.GoName }}(ctx, request)
}
{% endif%}{% endfor %}
