TRUNCATE TABLE metadata CASCADE;
TRUNCATE TABLE int_pool CASCADE;
TRUNCATE TABLE ipaddress_pool CASCADE;

{%- for schema in schemas -%}
{%- if schema.Type != "abstract" and schema.ID %}
TRUNCATE TABLE tenant_share_{{ schema.ID | lower }} CASCADE;
TRUNCATE TABLE domain_share_{{ schema.ID | lower }} CASCADE;
{%- for linkTo, reference in schema.References %}
TRUNCATE TABLE {{ reference.Table }} CASCADE;
{%- endfor %}
{%- for linkTo, reference in schema.Parents %}
TRUNCATE TABLE {{ reference.Table }} CASCADE;
{%- endfor %}
TRUNCATE TABLE {{ schema.ID | lower }} CASCADE;
{%- endif -%}
{%- endfor %}