- name: "{{ item.name|default(item.command) }}"
  shell: >
    docker exec -e "SORUCEDIR={{ sourcedir }}" --user=$(id -u) {{ docker.0.name|default('runner') }} bash -ec
    "cd {{ workdir }}; {{ item.command }}"
  become: yes
  become_user: root
  register: build_step_result
  until: build_step_result|succeeded
  retries: "{{ item.retries|default(1) }}"
