- name: "Install python2 requests"
  yum:
    name:  python2-requests
  become: yes
  become_user: root
  when:
    - ansible_distribution == 'RedHat'

- name: "Install docker"
  pip:
    name: docker
  become: yes
  become_user: root

- name: "Install docker-compose"
  pip:
    name: docker-compose==1.24.1
  become: yes
  become_user: root

- name: Disable selinux for the build
  selinux:
    state: disabled
  become: yes
  become_user: root

- name: Pretend we're using github
  command: mv {{ sourcedir }}/src/review.opencontrail.org {{ sourcedir }}/src/github.com

- name: "Start runner docker container in background"
  docker_container:
    name: "{{ docker.0.name|default('runner') }}"
    image: "{{ docker.0.image }}"
    state: started
    env: "{{ docker.0.environment|default(omit) }}"
    network_mode: host
    command: sleep infinity
    volumes:
      - "{{ sourcedir }}:/go"
      - "/var/run/docker.sock:/var/run/docker.sock"
  become: yes
  become_user: root

- name: Create test environment
  command: "chdir={{ sourcedir }}/src/github.com/Juniper/contrail make testenv"
  become: yes
  become_user: root
