- hosts: builder
  name: Build and test Juniper/contrail
  roles:
    - zuul-include-vars # include variables exported from trusted context
    - yum-repos-prepare
    - install-pip-virtualenv
    - install-docker-daemon
    - role: add-insecure-registry
      new_registry: "{{ contrail_docker_registry }}"
  vars_files:
    - build-vars.yaml
  tasks:
    - name: Run build setup
      include: build-setup.yaml

    - name: Prepare directory for unittests logs
      become: yes
      file:
        path: "{{ logsdir }}"
        owner: "{{ ansible_env.USER }}"
        state: directory

    - name: Run build steps in loop
      include: build-step.yaml
      loop_control:
        label: "{{ item.name }}"
      with_items:
        - name: Install development dependencies
          command: echo {{ sourcedir }} && make deps
          retries: 3
        - name: Check vendored dependencies
          command: make check
        - name: Run the source code generator
          command: make generate
        - name: Reset databases with latest schema and load initial data
          command: make reset_db
        - name: Build the source code
          command: make build
        - name: Run tests and linters on the source code in parallel
          command: make -j test lint
        - name: Generate Docker files
          command: make SOURCEDIR={{ sourcedir }} ANSIBLE_DEPLOYER_BRANCH={{ zuul.branch }} CONTRAIL_API_CLIENT_BRANCH={{ zuul.branch }} docker

    - name: Fix files ownerships
      file:
        name: "{{ sourcedir }}"
        recurse: yes
        owner: "{{ ansible_env.USER }}"
      become: yes
      become_user: root

- hosts: builder
  name: Publish containers to the internal registry
  roles:
    - role: publish-container-images
      registry: "{{ contrail_docker_registry }}"
      tag: "{{ packaging.docker_version }}"
      images:
        - { name: contrail-go, tag: latest }
