global_configuration:
  CONTAINER_REGISTRY: test_registry
  REGISTRY_PRIVATE_INSECURE: True
provider_config:
  bms:
    ssh_user: root
    ssh_pwd: c0ntrail123
    ntpserver: 10.1.1.100
    domainsuffix: local
instances:
  all_in_one_node:
    ip: 127.0.0.1
    provider: bms
    roles:
      config:
      config_database:
      control:
      webui:
      analytics:
      analytics_database:
      vrouter:
      k8s_master:
      k8s_node:
      kubemanager:
contrail_configuration:
  CONTRAIL_VERSION: ocata-5.0-x
  CLOUD_ORCHESTRATOR: kubernetes
  RABBITMQ_NODE_PORT: 5673
  VROUTER_GATEWAY: 127.0.0.254
  ENCAP_PRIORITY: MPLSoGRE,MPLSoUDP,VXLAN
  KUBERNETES_PUBLIC_FIP_POOL: {'project': 'default', 'domain': 'default-domain', 'name': '__fip_pool_public__', 'network': '__public__'}
