name: Multi cloud  update test
description: multi cloud  update test
test_data:
  pvt_cloud: &pvt_cloud
    name: pvt_cloud
    uuid: pvt_cloud_uuid
    organization: pvt_unit_test
    provisioning_state: CREATED
  all_in_one_cluster: &all_in_one_cluster
    uuid: test_cluster_uuid
    provisioning_state: NOSTATE
    provisioning_action: ADD_CLOUD

clients:
  default:
    id: alice
    password: alice_password
    insecure: true
    scope:
      project:
        name: admin
workflow:
- name: update cloud
  request:
    path: /cloud/pvt_cloud_uuid
    method: PUT
    expected:
    - 200
    data:
      cloud: *pvt_cloud
  expect:
    cloud: *pvt_cloud
- name: update cluster
  request:
    path: /contrail-cluster/test_cluster_uuid
    method: PUT
    expected:
    - 200
    data:
      contrail-cluster: *all_in_one_cluster
  expect:
    contrail-cluster: *all_in_one_cluster
