name: Multi cloud cluster create test
description: multi cloud cluster create test
cleanup:
- path: /contrail-config-node/contrail_config_nodes_uuid
- path: /contrail-config-database-node/contrail_config_database_nodes_uuid
- path: /contrail-analytics-node/contrail_analytics_nodes_uuid
- path: /contrail-analytics-database-node/contrail_analytics_database_nodes_uuid
- path: /contrail-webui-node/contrail_webui_nodes_uuid
- path: /contrail-control-node/contrail_control_nodes_uuid
- path: /contrail-vrouter-node/contrail_vrouter_nodes_uuid
- path: /contrail-multicloud-gw-node/contrail_multicloud_gw_node_uuid
- path: /contrail-cluster/test_cluster_uuid
- path: /kubernetes-master-node/kubernetes_master_nodes_uuid
- path: /kubernetes-node/kubernetes_nodes_uuid
- path: /kubernetes-kubemanager-node/kubernetes_kubemanager_nodes_uuid
- path: /kubernetes-cluster/test_kubernetes_cluster_uuid
- path: /node/all_in_one_node_uuid
- path: /node/cloud_node_gw_uuid
- path: /physical-router/tor_device_uuid
- path: /virtual-cloud/pvt_virtual_cloud_uuid
- path: /cloud-region/pvt_cloud_region_uuid
- path: /cloud-provider/pvt_cloud_provider_uuid
- path: /cloud-provider/public_cloud_provider_uuid
- path: /cloud/pvt_cloud_uuid
- path: /cloud/public_cloud_uuid
- path: /credential/all_in_one_credential_uuid
- path: /keypair/all_in_one_keypair_uuid
- path: /tag/pvt_cloud_tag_uuid

test_data:
  all_in_one_keypair: &all_in_one_keypair
    name: test_pvt_key_real
    uuid: all_in_one_keypair_uuid
    ssh_public_key: test_ssh_key
    ssh_key_dir_path: "./test_data"
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
  all_in_one_credential: &all_in_one_credential
    name: all_in_one_credential
    uuid: all_in_one_credential_uuid
    ssh_user: test_ssh_user
    ssh_password: test_ssh_password
    keypair_refs:
      - uuid: all_in_one_keypair_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
  all_in_one_node: &all_in_one_node
    uuid: all_in_one_node_uuid
    hostname: all_in_one_node
    interface_name: all_in_one_node_interface
    ip_address: 1.1.1.1
    credential_refs:
      - uuid: all_in_one_credential_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
  cloud_node_gw: &cloud_node_gw
    name: cloud_node_gw
    uuid: cloud_node_gw_uuid
    hostname: cloud_node_gw
    interface_name: cloud_node_gw
    ip_address: 2.2.2.2
    credential_refs:
      - uuid: all_in_one_credential_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
  pvt_cloud: &pvt_cloud
    name: pvt_cloud
    uuid: pvt_cloud_uuid
    organization: pvt_unit_test
    credential_refs:
      - uuid: all_in_one_credential_uuid
    provisioning_state: CREATE_FAILED
  public_cloud: &public_cloud
    name: public_cloud
    uuid: public_cloud_uuid
    organization: public_unit_test
    credential_refs:
      - uuid: all_in_one_credential_uuid
    provisioning_state: CREATED
  pvt_cloud_provider: &pvt_cloud_provider
    name: pvt_cloud_provider
    uuid: pvt_cloud_provider_uuid
    type: private
    project: pvt_test2
    parent_type: cloud
    parent_uuid: pvt_cloud_uuid
  cloud_provider: &public_cloud_provider
    name: public_cloud_provider
    uuid: public_cloud_provider_uuid
    type: azure
    project: public_test2
    parent_type: cloud
    parent_uuid: public_cloud_uuid
  cloud_region: &cloud_region
    name: default
    parent_type: cloud-provider
    parent_uuid: pvt_cloud_provider_uuid
    uuid: pvt_cloud_region_uuid
  vc_tag: &vc_tag
    name: pvt_cloud_tag
    uuid: pvt_cloud_tag_uuid
    tag_type_name: namespace
    tag_value: vc1
  virtual_cloud: &virtual_cloud
    name: virtual_cloud
    uuid: virtual_cloud_uuid
    parent_type: cloud-region
    parent_uuid: pvt_cloud_region_uuid
    tag_refs:
      - uuid: pvt_cloud_tag_uuid
  tor_device: &tor_device
    uuid: tor_device_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
    name: mx60
    physical_router_product_name: "mx60"
    physical_router_management_ip: 20.20.20.200
    physical_router_dataplane_ip: 10.10.10.100
    physical_router_user_credentials:
      username: test
      password: test123
    annotations:
      key_value_pair:
        - key: autonomous_system
          value: "6500"
        - key: interface
          value: irb.20
        - key: private_subnet
          value: 10.10.10.0/24,30.10.10.0/24
    tag_refs:
      - uuid: pvt_cloud_tag_uuid
  all_in_one_cluster: &all_in_one_cluster
    uuid: test_cluster_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
    provisioning_state: NOSTATE
    provisioning_action: ADD_CLOUD
    container_registry: test_registry
    registry_private_insecure: false
    container_registry_username: user1
    container_registry_password: password
    contrail_version: ocata-5.0-x
    orchestrator: kubernetes
    default_gateway: 127.0.0.254
    ntp_server: 10.1.1.100
    mc_gw_info:
      AS: 65000
      openvpn_port: 443
      vpn_lo_network: 100.65.0.0/16
      vpn_network: 100.64.0.0/16
      bfd_interval: 200ms
      bfd_multiplier: 5
      bfd_interval_multihop: 500ms
      bfd_multiplier_multihop: 5
    kubernetes_cluster_refs:
      - uuid: test_kubernetes_cluster_uuid
    cloud_refs:
      - uuid: pvt_cloud_uuid
      - uuid: public_cloud_uuid
    contrail_configuration:
      key_value_pair:
        - key: CONTRAIL_CONTAINER_TAG
          value: "master.100"
        {% if CONTROL_NODES %}
        - key: CONTROL_NODES
          value: {{CONTROL_NODES}}
        {% if CONTROLLER_NODES %}
        - key: CONTROLLER_NODES
          value: {{CONTROLLER_NODES}}
        {%endif%}
        {%endif%}
  contrail_config_nodes: &contrail_config_nodes
    uuid: contrail_config_nodes_uuid
    parent_type: contrail-cluster
    parent_uuid: test_cluster_uuid
    node_refs:
      - uuid: all_in_one_node_uuid
  contrail_config_database_nodes: &contrail_config_database_nodes
    uuid: contrail_config_database_nodes_uuid
    parent_type: contrail-cluster
    parent_uuid: test_cluster_uuid
    node_refs:
      - uuid: all_in_one_node_uuid
  contrail_analytics_nodes: &contrail_analytics_nodes
    uuid: contrail_analytics_nodes_uuid
    parent_type: contrail-cluster
    parent_uuid: test_cluster_uuid
    node_refs:
      - uuid: all_in_one_node_uuid
  contrail_analytics_database_nodes: &contrail_analytics_database_nodes
    uuid: contrail_analytics_database_nodes_uuid
    parent_type: contrail-cluster
    parent_uuid: test_cluster_uuid
    node_refs:
      - uuid: all_in_one_node_uuid
  contrail_webui_nodes: &contrail_webui_nodes
    uuid: contrail_webui_nodes_uuid
    parent_type: contrail-cluster
    parent_uuid: test_cluster_uuid
    node_refs:
      - uuid: all_in_one_node_uuid
  contrail_control_nodes: &contrail_control_nodes
    uuid: contrail_control_nodes_uuid
    parent_type: contrail-cluster
    parent_uuid: test_cluster_uuid
    node_refs:
      - uuid: all_in_one_node_uuid
  contrail_vrouter_nodes: &contrail_vrouter_nodes
    uuid: contrail_vrouter_nodes_uuid
    parent_type: contrail-cluster
    parent_uuid: test_cluster_uuid
    node_refs:
      - uuid: all_in_one_node_uuid
  all_in_one_kubernetes_cluster: &all_in_one_kubernetes_cluster
    uuid: test_kubernetes_cluster_uuid
    parent_type: global-system-config
    parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
    ntp_server: 10.1.1.100
  kubernetes_master_nodes: &kubernetes_master_nodes
    uuid: kubernetes_master_nodes_uuid
    parent_type: kubernetes-cluster
    parent_uuid: test_kubernetes_cluster_uuid
    node_refs:
      - uuid: all_in_one_node_uuid
  kubernetes_nodes: &kubernetes_nodes
    uuid: kubernetes_nodes_uuid
    parent_type: kubernetes-cluster
    parent_uuid: test_kubernetes_cluster_uuid
    node_refs:
      - uuid: all_in_one_node_uuid
  kubernetes_kubemanager_nodes: &kubernetes_kubemanager_nodes
    uuid: kubernetes_kubemanager_nodes_uuid
    parent_type: kubernetes-cluster
    parent_uuid: test_kubernetes_cluster_uuid
    node_refs:
      - uuid: all_in_one_node_uuid
  contrail_multicloud_gw_node: &contrail_multicloud_gw_node
    uuid: contrail_multicloud_gw_node_uuid
    parent_type: contrail-cluster
    parent_uuid: test_cluster_uuid
    node_refs:
      - uuid: cloud_node_gw_uuid
    protocols_mode:
      - ssl_client

clients:
  default:
    id: alice
    password: alice_password
    insecure: true
    scope:
      project:
        name: admin
workflow:
- name: create cluster
  request:
    path: /kubernetes-clusters
    method: POST
    expected:
    - 200
    data:
      kubernetes-cluster: *all_in_one_kubernetes_cluster
  expect:
    kubernetes-cluster:
      perms2:
        owner: admin
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
      uuid: test_kubernetes_cluster_uuid
      ntp_server: 10.1.1.100
- name: create keypair
  request:
    path: /keypairs
    method: POST
    expected:
    - 200
    data:
      keypair: *all_in_one_keypair
  expect:
    keypair:
      perms2:
        owner: admin
      uuid: all_in_one_keypair_uuid
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
      ssh_public_key: test_ssh_key

- name: create credential
  request:
    path: /credentials
    method: POST
    expected:
    - 200
    data:
      credential: *all_in_one_credential
  expect:
    credential:
      perms2:
        owner: admin
      uuid: all_in_one_credential_uuid
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
      ssh_user: test_ssh_user
      ssh_password: test_ssh_password
      keypair_refs:
        - uuid: all_in_one_keypair_uuid
- name: create pvt cloud
  request:
    path: /clouds
    method: POST
    expected:
    - 200
    data:
      cloud: *pvt_cloud
  expect:
    cloud:
      perms2:
        owner: admin
      name: pvt_cloud
      uuid: pvt_cloud_uuid
      organization: pvt_unit_test
      credential_refs:
        - uuid: all_in_one_credential_uuid
- name: create public cloud
  request:
    path: /clouds
    method: POST
    expected:
    - 200
    data:
      cloud: *public_cloud
  expect:
    cloud:
      name: public_cloud
      uuid: public_cloud_uuid
      organization: public_unit_test
      credential_refs:
        - uuid: all_in_one_credential_uuid
- name: create pvt cloud provider
  request:
    path: /cloud-providers
    method: POST
    expected:
    - 200
    data:
      cloud-provider: *pvt_cloud_provider
  expect:
    cloud-provider:
      perms2:
        owner: admin
      uuid: pvt_cloud_provider_uuid
      type: private
      project: pvt_test2
      parent_type: cloud
      parent_uuid: pvt_cloud_uuid
- name: create public cloud provider
  request:
    path: /cloud-providers
    method: POST
    expected:
    - 200
    data:
      cloud-provider: *public_cloud_provider
  expect:
    cloud-provider:
      perms2:
        owner: admin
      uuid: public_cloud_provider_uuid
      type: azure
      project: public_test2
      parent_type: cloud
      parent_uuid: public_cloud_uuid

- name: create pvt cloud region
  request:
    path: /cloud-regions
    method: POST
    expected:
    - 200
    data:
      cloud-region: *cloud_region
  expect:
    cloud-region: *cloud_region

- name: create pvt virtual cloud tag
  request:
    path: /tags
    method: POST
    expected:
    - 200
    data:
      tag: *vc_tag
  expect:
    tag: *vc_tag

- name: create pvt virtual cloud
  request:
    path: /virtual-clouds
    method: POST
    expected:
    - 200
    data:
      virtual-cloud: *virtual_cloud
  expect:
    virtual-cloud: *virtual_cloud

- name: create pvt TOR device
  request:
    path: /physical-routers
    method: POST
    expected:
    - 200
    data:
      physical-router: *tor_device
  expect:
    physical-router: *tor_device

- name: create cluster
  request:
    path: /contrail-clusters
    method: POST
    expected:
    - 200
    data:
      contrail-cluster: *all_in_one_cluster
  expect:
    contrail-cluster:
      perms2:
        owner: admin
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
      provisioning_action: ADD_CLOUD
      provisioning_state: NOSTATE
      uuid: test_cluster_uuid
      container_registry: test_registry
      container_registry_password: password
      container_registry_username: user1
      contrail_version: ocata-5.0-x
      orchestrator: kubernetes
      default_gateway: 127.0.0.254
      ntp_server: 10.1.1.100
      cloud_refs:
        - uuid: pvt_cloud_uuid
        - uuid: public_cloud_uuid
- name: create node
  request:
    path: /nodes
    method: POST
    expected:
    - 200
    data:
      node: *all_in_one_node
  expect:
    node:
      perms2:
        owner: admin
      uuid: all_in_one_node_uuid
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
      hostname: all_in_one_node
      interface_name: all_in_one_node_interface
      ip_address: 1.1.1.1
      credential_refs:
        - uuid: all_in_one_credential_uuid
- name: create gateway node
  request:
    path: /nodes
    method: POST
    expected:
    - 200
    data:
      node: *cloud_node_gw
  expect:
    node:
      perms2:
        owner: admin
      name: cloud_node_gw
      uuid: cloud_node_gw_uuid
      hostname: cloud_node_gw
      interface_name: cloud_node_gw
      ip_address: 2.2.2.2
      credential_refs:
        - uuid: all_in_one_credential_uuid
      parent_type: global-system-config
      parent_uuid: beefbeef-beef-beef-beef-beefbeef0001
- name: create kubernetes master node
  request:
    path: /kubernetes-master-nodes
    method: POST
    expected:
    - 200
    data:
      kubernetes-master-node: *kubernetes_master_nodes
  expect:
    kubernetes-master-node:
      uuid: kubernetes_master_nodes_uuid
      parent_type: kubernetes-cluster
      parent_uuid: test_kubernetes_cluster_uuid
      node_refs:
        - uuid: all_in_one_node_uuid
- name: create kubernetes node
  request:
    path: /kubernetes-nodes
    method: POST
    expected:
    - 200
    data:
      kubernetes-node: *kubernetes_nodes
  expect:
    kubernetes-node:
      uuid: kubernetes_nodes_uuid
      parent_type: kubernetes-cluster
      parent_uuid: test_kubernetes_cluster_uuid
      node_refs:
        - uuid: all_in_one_node_uuid
- name: create kubernetes kubemanager node
  request:
    path: /kubernetes-kubemanager-nodes
    method: POST
    expected:
    - 200
    data:
      kubernetes-kubemanager-node: *kubernetes_kubemanager_nodes
  expect:
    kubernetes-kubemanager-node:
      uuid: kubernetes_kubemanager_nodes_uuid
      parent_type: kubernetes-cluster
      parent_uuid: test_kubernetes_cluster_uuid
      node_refs:
        - uuid: all_in_one_node_uuid
- name: create config node
  request:
    path: /contrail-config-nodes
    method: POST
    expected:
    - 200
    data:
      contrail-config-node: *contrail_config_nodes
  expect:
    contrail-config-node:
      uuid: contrail_config_nodes_uuid
      parent_type: contrail-cluster
      parent_uuid: test_cluster_uuid
      node_refs:
        - uuid: all_in_one_node_uuid
- name: create config database node
  request:
    path: /contrail-config-database-nodes
    method: POST
    expected:
    - 200
    data:
      contrail-config-database-node: *contrail_config_database_nodes
  expect:
    contrail-config-database-node:
      uuid: contrail_config_database_nodes_uuid
      parent_type: contrail-cluster
      parent_uuid: test_cluster_uuid
      node_refs:
        - uuid: all_in_one_node_uuid
- name: create analytics node
  request:
    path: /contrail-analytics-nodes
    method: POST
    expected:
    - 200
    data:
      contrail-analytics-node: *contrail_analytics_nodes
  expect:
    contrail-analytics-node:
      uuid: contrail_analytics_nodes_uuid
      parent_type: contrail-cluster
      parent_uuid: test_cluster_uuid
      node_refs:
        - uuid: all_in_one_node_uuid
- name: create analytics database node
  request:
    path: /contrail-analytics-database-nodes
    method: POST
    expected:
    - 200
    data:
      contrail-analytics-database-node: *contrail_analytics_database_nodes
  expect:
    contrail-analytics-database-node:
      uuid: contrail_analytics_database_nodes_uuid
      parent_type: contrail-cluster
      parent_uuid: test_cluster_uuid
      node_refs:
        - uuid: all_in_one_node_uuid
- name: create webui node
  request:
    path: /contrail-webui-nodes
    method: POST
    expected:
    - 200
    data:
      contrail-webui-node: *contrail_webui_nodes
  expect:
    contrail-webui-node:
      uuid: contrail_webui_nodes_uuid
      parent_type: contrail-cluster
      parent_uuid: test_cluster_uuid
      node_refs:
       - uuid: all_in_one_node_uuid
- name: create control node
  request:
    path: /contrail-control-nodes
    method: POST
    expected:
    - 200
    data:
      contrail-control-node: *contrail_control_nodes
  expect:
    contrail-control-node:
      uuid: contrail_control_nodes_uuid
      parent_type: contrail-cluster
      parent_uuid: test_cluster_uuid
      node_refs:
        - uuid: all_in_one_node_uuid
- name: create vrouter node
  request:
    path: /contrail-vrouter-nodes
    method: POST
    expected:
    - 200
    data:
      contrail-vrouter-node: *contrail_vrouter_nodes
  expect:
    contrail-vrouter-node:
      uuid: contrail_vrouter_nodes_uuid
      parent_type: contrail-cluster
      parent_uuid: test_cluster_uuid
      node_refs:
        - uuid: all_in_one_node_uuid
- name: create multi cloud gateway node
  request:
    path: /contrail-multicloud-gw-nodes
    method: POST
    expected:
    - 200
    data:
      contrail-multicloud-gw-node: *contrail_multicloud_gw_node
  expect:
    contrail-multicloud-gw-node:
      uuid: contrail_multicloud_gw_node_uuid
      parent_type: contrail-cluster
      parent_uuid: test_cluster_uuid
      node_refs:
        - uuid: cloud_node_gw_uuid
      protocols_mode:
        - ssl_client
