package services

import (
	"github.com/pkg/errors"
	"github.com/gogo/protobuf/types"

	"github.com/Juniper/contrail/pkg/models/basemodels"
	"github.com/Juniper/contrail/pkg/models"
)

{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}

// GetRequest underlying request.
func (e *Event_Create{{ schema.JSONSchema.GoName }}Request) GetRequest() CreateRequest {
	return e.Create{{ schema.JSONSchema.GoName }}Request
}

// GetResource underlying request.
func (r *Create{{ schema.JSONSchema.GoName }}Request) GetResource() basemodels.Object {
	return r.Get{{ schema.JSONSchema.GoName }}()
}

// SetFieldMask sets fieldMask of the event.
func (r *Create{{ schema.JSONSchema.GoName }}Request) SetFieldMask(mask types.FieldMask) {
	r.FieldMask = mask
}

// isCreateRequest determines create request.
func (r *Create{{ schema.JSONSchema.GoName }}Request) isCreateRequest() {}

// GetRequest underlying request.
func (e *Event_Update{{ schema.JSONSchema.GoName }}Request) GetRequest() UpdateRequest {
	return e.Update{{ schema.JSONSchema.GoName }}Request
}

// GetResource underlying request.
func (r *Update{{ schema.JSONSchema.GoName }}Request) GetResource() basemodels.Object {
	return r.Get{{ schema.JSONSchema.GoName }}()
}

// SetFieldMask sets fieldMask of the event.
func (r *Update{{ schema.JSONSchema.GoName }}Request) SetFieldMask(mask types.FieldMask) {
	r.FieldMask = mask
}

// isUpdateRequest determines update request.
func (r *Update{{ schema.JSONSchema.GoName }}Request) isUpdateRequest() {}

// GetRequest underlying request.
func (e *Event_Delete{{ schema.JSONSchema.GoName }}Request) GetRequest() DeleteRequest {
	return e.Delete{{ schema.JSONSchema.GoName }}Request
}

// SetID sets id of the event.
func (r *Delete{{ schema.JSONSchema.GoName }}Request) SetID(id string) {
	r.ID = id
}

// Kind returns underlying resource kind.
func (r *Delete{{ schema.JSONSchema.GoName }}Request) Kind() string {
	return "{{ schema.TypeName }}"
}

// isDeleteRequest determines delete request.
func (r *Delete{{ schema.JSONSchema.GoName }}Request) isDeleteRequest() {}

{% for _, reference in schema.References %}
{% set refType = schema.JSONSchema.GoName| add:reference.GoName | add:"Ref" %}

// GetRequest returns underlying request.
func (r *Event_Create{{ refType }}Request) GetRequest() CreateRefRequest {
	return r.Create{{ refType }}Request
}

// isCreateRefRequest determines delete request.
func (r *Create{{ refType }}Request) isCreateRefRequest() {}

// SetID sets referencing object's uuid.
func (r *Create{{ refType }}Request) SetID(id string) {
	r.ID = id
}

// SetRefUUID sets referenced object's uuid.
func (r *Create{{ refType }}Request) SetRefUUID(uuid string) {
	r.Get{{ refType }}().SetUUID(uuid)
}

// GetAttr returns reference's attribute.
func (r *Create{{ refType }}Request) GetAttr() basemodels.RefAttribute {
	return r.Get{{ refType }}().GetAttribute()
}

// GetRequest returns underlying request.
func (r *Event_Delete{{ refType }}Request) GetRequest() DeleteRefRequest {
	return r.Delete{{ refType }}Request
}

// isDeleteRefRequest determines delete request.
func (r *Delete{{ refType }}Request) isDeleteRefRequest() {}

// SetID sets referencing object's uuid.
func (r *Delete{{ refType }}Request) SetID(id string) {
	r.ID = id
}

// SetRefUUID sets referenced object's uuid.
func (r *Delete{{ refType }}Request) SetRefUUID(uuid string) {
	r.Get{{ refType }}().SetUUID(uuid)
}

{% endfor %}
{% endif%}{% endfor %}

// NewEmptyCreateEventRequest makes new create event request.
func NewEmptyCreateEventRequest(kind string) (createEventRequest, error) {
	switch kind {
		{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}
		case "{{ schema.TypeName }}":
		return &Event_Create{{ schema.JSONSchema.GoName }}Request{
			Create{{ schema.JSONSchema.GoName }}Request: &Create{{ schema.JSONSchema.GoName }}Request{
				{{ schema.JSONSchema.GoName }}: &models.{{ schema.JSONSchema.GoName }}{},
			},
		}, nil
		{% endif %}{% endfor %}
	}
	return nil, errors.Errorf("create event of kind \"%s\" does not exist", kind)
}

// NewEmptyUpdateEventRequest makes new update event request.
func NewEmptyUpdateEventRequest(kind string) (updateEventRequest, error) {
	switch kind {
		{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}
		case "{{ schema.TypeName }}":
		return &Event_Update{{ schema.JSONSchema.GoName }}Request{
			Update{{ schema.JSONSchema.GoName }}Request: &Update{{ schema.JSONSchema.GoName }}Request{
				{{ schema.JSONSchema.GoName }}: &models.{{ schema.JSONSchema.GoName }}{},
			},
		}, nil
		{% endif %}{% endfor %}
	}
	return nil, errors.Errorf("update event of kind \"%s\" does not exist", kind)
}

// NewEmptyDeleteEventRequest makes new delete event request.
func NewEmptyDeleteEventRequest(kind string) (deleteEventRequest, error) {
	switch kind {
		{% for schema in schemas %}{% if schema.Type != "abstract" and schema.ID %}
		case "{{ schema.TypeName }}":
		return &Event_Delete{{ schema.JSONSchema.GoName }}Request{
			Delete{{ schema.JSONSchema.GoName }}Request: &Delete{{ schema.JSONSchema.GoName }}Request{},
		}, nil
		{% endif %}{% endfor %}
	}
	return nil, errors.Errorf("delete event of kind \"%s\" does not exist", kind)
}

// NewEmptyCreateRefEventRequest makes new empty create ref event request.
func NewEmptyCreateRefEventRequest(kind string) (createRefEventRequest, error) {
	switch kind {
{%- for schema in schemas %}{% if schema.Type != "abstract" and schema.ID -%}
{%- for _, reference in schema.References -%}
{%- set refType = schema.JSONSchema.GoName| add:reference.GoName | add:"Ref" %}
	case "{{ schema.TypeName }}-{{ reference.LinkTo.TypeName }}":
		return &Event_Create{{ refType }}Request{
			Create{{ refType }}Request: &Create{{ refType }}Request{
				{{ refType }}: &models.{{ refType }}{
					{%- if reference.RefType %}
					Attr: &models.{{ reference.RefType }}{},
					{%- endif %}
				},
			},
		}, nil
{%- endfor %}{% endif%}{% endfor %}
	default:
		return nil, errors.Errorf("create ref event of kind \"%s\" does not exist", kind)
	}
}

// NewEmptyDeleteRefEventRequest makes new empty delete ref event request.
func NewEmptyDeleteRefEventRequest(kind string) (deleteRefEventRequest, error) {
	switch kind {
{%- for schema in schemas %}{% if schema.Type != "abstract" and schema.ID -%}
{%- for _, reference in schema.References -%}
{%- set refType = schema.JSONSchema.GoName| add:reference.GoName | add:"Ref" %}
	case "{{ schema.TypeName }}-{{ reference.LinkTo.TypeName }}":
		return &Event_Delete{{ refType }}Request{
			Delete{{ refType }}Request: &Delete{{ refType }}Request{
				{{ refType }}: &models.{{ refType }}{},
			},
		}, nil
{%- endfor %}{% endif%}{% endfor %}
	default:
		return nil, errors.Errorf("delete ref event of kind \"%s\" does not exist", kind)
	}
}
